9M0bz0WgB1zHhooE.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-03T10:47:43.750Z",
  "id": "9M0bz0WgB1zHhooE",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Masjid Al-Halimi - Waktu Solat ke database",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        -112
      ],
      "id": "5fdfa385-0b11-490a-8dfa-7cba145f46b1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19m4ZxVhM6MfFsYeKyBh4OmY3421L2vir2n2Ib4I2Pv4",
          "mode": "list",
          "cachedResultName": "Waktu Solat - 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19m4ZxVhM6MfFsYeKyBh4OmY3421L2vir2n2Ib4I2Pv4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19m4ZxVhM6MfFsYeKyBh4OmY3421L2vir2n2Ib4I2Pv4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        -112
      ],
      "id": "92fd33ab-fdf8-4642-8589-3c69e050240f",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U0ZMoxWRU8t5JEF5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 100,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        -112
      ],
      "id": "943e38dc-592d-4939-adf5-12cd47b1bfea",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "AFOFafR5B6BPxidl",
          "mode": "list",
          "cachedResultName": "Masjid - Waktu Solat",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/AFOFafR5B6BPxidl"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tarikh": "={{ $json['Tarikh Miladi'] }}",
            "tarikh_hijrah": "={{ $json['Tarikh Hijri'] }}",
            "hari": "={{ $json.Hari }}",
            "imsak": "={{ $json.Imsak }}",
            "subuh": "={{ $json.Subuh }}",
            "syuruk": "={{ $json.Syuruk }}",
            "zohor": "={{ $json.Zohor }}",
            "asar": "={{ $json.Asar }}",
            "maghrib": "={{ $json.Maghrib }}",
            "isyak": "={{ $json.Isyak }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tarikh",
              "displayName": "tarikh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tarikh_hijrah",
              "displayName": "tarikh_hijrah",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "hari",
              "displayName": "hari",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "imsak",
              "displayName": "imsak",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subuh",
              "displayName": "subuh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "syuruk",
              "displayName": "syuruk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "zohor",
              "displayName": "zohor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "asar",
              "displayName": "asar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "maghrib",
              "displayName": "maghrib",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isyak",
              "displayName": "isyak",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        256,
        -96
      ],
      "id": "cc16d7a7-6d00-40ed-8405-8141888d0298",
      "name": "Insert row"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "shukrisenawi",
    "name": "n8n_backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-03T10:47:43.755Z",
      "createdAt": "2026-01-03T10:47:43.755Z",
      "role": "workflow:owner",
      "workflowId": "9M0bz0WgB1zHhooE",
      "projectId": "xIwyQZxho25VDDOK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-03T11:05:47.366Z",
  "versionId": "7e941dcf-aea5-45a3-8558-cdae88d8f14d"
}