Av2FdQGNcmYVEJkG.json
{
  "active": true,
  "connections": {
    "AI Chat": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI Chat",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "pecahkan mesej",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pecahkan mesej": {
      "main": [
        [],
        [
          {
            "node": "Asingkan text biasa dengan gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asingkan text biasa dengan gambar": {
      "main": [
        [
          {
            "node": "Jika gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jika gambar": {
      "main": [
        [
          {
            "node": "Asingkan label dan link",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asingkan label dan link": {
      "main": [
        [
          {
            "node": "Send an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Seen": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "var": {
      "main": [
        [
          {
            "node": "Send Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Stop Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "pecahkan mesej",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Typing": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an image": {
      "main": [
        [
          {
            "node": "pecahkan mesej",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Only": {
      "main": [
        [
          {
            "node": "Text Map",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Media": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze Sticker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcribe audio or video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Image Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "PDF Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Map": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Output": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Map": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Text Map": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe audio or video": {
      "main": [
        [
          {
            "node": "Audio Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Map": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Image Data": {
      "main": [
        [
          {
            "node": "Download Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "var",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Time Now": {
      "main": [
        [
          {
            "node": "mesej sebelum",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Week": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Senarai AJK Masjid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing2": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Stop Typing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Typing2": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Soalan": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Daftar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output Message 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structure": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mesej": {
      "main": [
        [
          {
            "node": "Start Typing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Message": {
      "main": [
        [
          {
            "node": "Mesej",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Message 2": {
      "main": [
        [
          {
            "node": "Mesej",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mesej sebelum": {
      "main": [
        [
          {
            "node": "Week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Senarai AJK Masjid": {
      "main": [
        [
          {
            "node": "Time Now",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Sticker": {
      "main": [
        [
          {
            "node": "Image Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Waktu Solat 2025": {
      "ai_tool": [
        [
          {
            "node": "AI Chat",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Chat",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "var1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start Typing5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start Typing5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "AI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Notification": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Delete Notification": {
      "main": [
        [
          {
            "node": "Kemaskini Pengajian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Typing1": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kemaskini Pengajian": {
      "main": [
        [
          {
            "node": "Cari Pengajian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Seen1": {
      "main": [
        [
          {
            "node": "Check Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "var1": {
      "main": [
        [
          {
            "node": "Send Seen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Stop Typing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Delete Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start Typing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Daftar": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daftar": {
      "main": [
        [
          {
            "node": "Output Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Kemaskini Nama",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Kemaskini Gelaran",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Kemaskini Tarikh Lahir",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Kemaskini Kampung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kemaskini Nama": {
      "main": [
        [
          {
            "node": "Output Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kemaskini Gelaran": {
      "main": [
        [
          {
            "node": "Output Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kemaskini Tarikh Lahir": {
      "main": [
        [
          {
            "node": "Output Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kemaskini Kampung": {
      "main": [
        [
          {
            "node": "Output Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aktifkan Semula": {
      "main": [
        [
          {
            "node": "Start Typing1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kemaskini Profile": {
      "ai_tool": [
        [
          {
            "node": "AI Chat",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Maklumat Lain",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Maklumat Lain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Stop Typing3": {
      "main": [
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing3": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Stop Typing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "var user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "var user": {
      "main": [
        [
          {
            "node": "Start Typing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cari Pengajian": {
      "main": [
        [
          {
            "node": "Aktifkan Semula",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Jadual Pengajian",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Kemaskini Pengajian1": {
      "ai_tool": [
        [
          {
            "node": "AI Jadual Pengajian",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Jadual Pengajian": {
      "ai_tool": [
        [
          {
            "node": "AI Chat",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gambar": {
      "ai_tool": [
        [
          {
            "node": "AI Chat",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message2": {
      "main": [
        []
      ]
    },
    "WAHA Trigger": {
      "main": [
        [],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Maklumat Kematian": {
      "ai_tool": [
        [
          {
            "node": "AI Chat",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Jadual Pengajian": {
      "ai_tool": [
        [
          {
            "node": "AI Jadual Pengajian",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Maklumat Lain": {
      "ai_tool": [
        [
          {
            "node": "AI Chat",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Chat",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Start Typing4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cek Daftar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing4": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Stop Typing4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Typing4": {
      "main": [
        [
          {
            "node": "Send a text message7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing5": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Stop Typing5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Typing5": {
      "main": [
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tambah Kematian": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Kemaskini Kematian": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Senarai Kematian": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cari Hari Kematian": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Start Typing6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing6": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "Stop Typing6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Typing6": {
      "main": [
        [
          {
            "node": "Send a text message8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-17T02:58:38.978Z",
  "id": "Av2FdQGNcmYVEJkG",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "MASJID AL-HALIMI",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Output').first().json.output }}",
        "options": {
          "systemMessage": "=Maklumat Pengguna\n\nNama Penuh : {{ $('Cek Daftar').first().json.nama }}\nGelaran : {{ $('Cek Daftar').first().json.gelaran }}\nAlamat : {{ $('Cek Daftar').first().json.alamat }}\nTarikh Lahir : {{ $('Cek Daftar').first().json.tarikh_lahir }}\n\n- Gunakan tool `Data` terlebih dahulu untuk mencari sebarang maklumat\n- Gunakan tool `Kemaskini Profile` jika pengguna ingin mengubah maklumat diri.\n- Gunakan tool `Ai Jadual Pengajian` jika mesej berkenaan dengan pengajian.\n- Jika pengguna bertanya maklumat pengajian diluar bulan ini, beritahu pengguna tersebut bahawa jadual pengajian belum disediakan.. jadual hanya disediakan pada 1 haribulan pada bulan tersebut.\n- Jika pengguna menyebut perkataan masa seperti \"esk\", \"esok\", \"lusa\", \"tulat\" atau \"minggu depan\", jangan cuba kira sendiri. Gunakan tool 'Cek Tarikh' untuk tukarkan perkataan tersebut kepada tarikh sebenar dalam format dd-mm-YYYY. Jawapan lain boleh dijawab seperti biasa.\n\nSystem Message (AI Agent Masjid)\n\nAnda merupakan pakar bahasa melayu.\nGunakan bahasa melayu, malaysia.\ninteraksi guna gaya match tone brand.\ngunakan emoji yang bersesuaian.. jgn guna kerap sangat emoji yang sama.\nAnda hanya menjawab soalan yang ditanyakan.. tidak perlu panjangkan perbualan.\nJika pengguna meminta gambar jangan senaraikan semua gambar, tanya pengguna gambar apa yang ingin di cari.\nJika pengguna meminta jadual jangan senaraikan semua jadual sbb byk.. tanya tarikh jadual yang ingin di paparkan.\nGunakan gelaran {{ $('Cek Daftar').first().json.gelaran }} kepada pengguna tersebut untuk berinteraksi.\nAnda ialah Pembantu Maya Masjid yang berperanan sebagai sahabat digital kepada jemaah. Semua jawapan anda mestilah santai macam rakan, ringkas, jelas, sopan, mesra, penuh adab, dan berpandukan manhaj Ahli Sunnah Wal Jamaah.\nJawab soalan dengan maklumat dan data yang telah diberikan sahaja.. Maklumat Masjid di tool `Maklumat Masjid`.\nJangan bercerita tentang hukum hakam yang susah.. Cuma bg pandangan yang umum sahaja takut tersalah bg pandangan.\nTarikh semasa hari ini ialah {{ $('Time Now').first().json.tarikh }}, hari {{ $('Time Now').first().json.hari }}, bulan {{ $('Time Now').first().json.bulan }}, minggu ke {{ $('Week').item.json.minggu }}, pukul {{ $('Time Now').first().json.masa }}\nGunakan tool `Jadual Pengajian` untuk mencari jadual pengajian, var tarikh menggunakan format YYYY-mm-dd, column active dalam Jadual Pengajian `Ya` bermaksud ada pengajian manakala `Tidak` bermaksud pengajian di batalkan.\nGunakan tool 'Gambar' untuk mencari gambar.\nJangan gunakan perkataan `Pengajaran` gantikan dengan kitab, jika bacaan yasin tulis program bacaan yasin..\nJika tempat di Masjid Al-Halimi Batu 5 tidak perlu tulis, tulis jika ditanya sahaja sbb kebanyakan program diadakan di Masjid Al-Halimi Batu 5.\nTidak bercerita tentang perkara teknikal dan dalaman sistem.\nJika ada sebarang masalah teknikal minta pengguna mesej kepada 019-5168839\n\n\nMaklumat Masjid\n\nAlamat : Masjid Al-Halimi, Pekan Batu 5, 08200 Sik, Kedah\nNo Hp : 013-409 2131\nNama Imam : Aminudin Bin Abdul Rahman\nFacebook Masjid : https://www.facebook.com/Masjid.Al.Halimi.Batu5\nNo Akaun Bank Masjid\n- Nama Bank : Bank Rakyat\n- Penama : Masjid Al-Halimi\n- No Akaun : 1101498276\n\nPeranan Utama (Roles):\n\nPenasihat Agama\n\nTidak halisunisasi\nMenyampaikan dakwah dengan cara berhemah dan hikmah.\nMemberi nasihat berdasarkan al-Quran, Sunnah, dan pandangan ulama Ahli Sunnah Wal Jamaah.\nTidak mengeluarkan fatwa baharu, hanya merujuk kepada pandangan ulama muktabar.\n\nPengurus Data Masjid\nJadual pengajian rujuk pada file dapatkan hari dan minggu berdasarkan tarikh, kemudian rujuk column hari & minggu di ‘Jadual Pengajian Masjid’. \nMenyimpan dan menyusun maklumat berkaitan masjid seperti jadual solat, kelas pengajian, kuliah, ceramah, dan program masjid.\nMembantu mengingatkan jemaah tentang aktiviti masjid.\nwaktu solat rujuk file 'Waktu Solat 2025'\n\nModerator Kumpulan Masjid\n\nMembantu mengurus komunikasi dalam kumpulan masjid secara mesra dan beradab.\nMenggalakkan suasana harmoni, saling menghormati, dan ukhuwah Islamiah.\nMenjawab dengan ringkas, mengelakkan perdebatan yang tidak bermanfaat.\n\nSahabat Sosial Jemaah\n\nBersosial dengan jemaah secara mesra, sopan dan sesuai dengan adab Islam.\nMenggunakan bahasa mudah difahami, dengan nada positif dan mengajak kepada kebaikan.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        4032,
        464
      ],
      "id": "0c69a9b8-a171-47bd-b120-74f6407162f0",
      "name": "AI Chat"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3824,
        672
      ],
      "id": "7790f747-d5d0-4183-a196-1a2d1cb73c32",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "fVROc60J7L6j0kn5",
          "name": "Ai Sumapod"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.output; // ambil text asal dari AI\n\n// Step 1: tukar \\n\\n jadi \\n\n//let text = input.replace(/\\n\\n/g, \"\\n\");\n\n// Step 2: split ikut \\n\nlet lines = input.split(\"\\n\\n\").map(x => x.trim()).filter(x => x !== \"\");\n\n// Return setiap baris jadi item berasingan\nreturn lines.map(line => ({ json: { line } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4528,
        480
      ],
      "id": "fd7093ef-3873-44a3-9324-c1cc297b8db0",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4736,
        496
      ],
      "id": "4ad8849c-c974-4fab-9c2e-c24d3b57c090",
      "name": "pecahkan mesej",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "let lines = $input.first().json.line;\n\n// Kalau bukan array, tukar jadi array\nif (!Array.isArray(lines)) {\n  lines = [lines];\n}\n\n// Regex utk detect gambar\nconst imageRegex = /(https?:\\/\\/[^\\s]+(\\.jpg|\\.jpeg|\\.png|\\.gif|\\.webp)|https:\\/\\/drive\\.google\\.com\\/uc\\?id=[^)\\s]+)/i;\n\nreturn lines.map(line => {\n  return {\n    json: {\n      text: line,\n      isImage: imageRegex.test(line) // true kalau link gambar\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5024,
        496
      ],
      "id": "5817c18f-3b20-4dad-aafa-5f6c68df0e65",
      "name": "Asingkan text biasa dengan gambar"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ffe53d1b-5b9e-4491-b831-eb8d967b0322",
              "leftValue": "={{ $('Asingkan text biasa dengan gambar').item.json.isImage }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5168,
        512
      ],
      "id": "e194b8ad-0332-4f7c-87eb-5fb8c478d127",
      "name": "Jika gambar"
    },
    {
      "parameters": {
        "jsCode": "const input = $('Asingkan text biasa dengan gambar').item.json.text;\nconst timestamp = Date.now(); // ambil masa sekarang dalam ms\n\n// Regex untuk detect pattern [Title](Link)\nconst regex = /\\[(.*?)\\]\\((.*?)\\)/;\n\nlet output = [];\n\nconst match = input.match(regex);\nif (match) {\n  output = [match[1], match[2]];\n} else {\n  output = [input];\n}\n\nreturn {\n  json: {\n    output,\n    timestamp\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4832,
        928
      ],
      "id": "8722c972-afc2-47ee-872c-0d8e51c4bbda",
      "name": "Asingkan label dan link",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('var').item.json.session }}",
        "chatId": "={{ $json.from }}",
        "messageId": "={{ $json.message_id }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        320,
        -1088
      ],
      "id": "326a7b27-7a7c-418c-9c00-386b4db593a5",
      "name": "Send Seen",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('var').first().json.session }}",
        "chatId": "={{ $('var').first().json.from}}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        4864,
        768
      ],
      "id": "131e6254-5044-4570-9336-e0f4771524d8",
      "name": "Start Typing",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst now = new Date();\nlet tarikh = now.toISOString().split(\"T\")[0];\nconst options = { timeZone: \"Asia/Kuala_Lumpur\" };\nconst year = now.toLocaleString(\"en-GB\", { ...options, year: \"numeric\" });\nconst month = now.toLocaleString(\"en-GB\", { ...options, month: \"2-digit\" });\nconst day = now.toLocaleString(\"en-GB\", { ...options, day: \"2-digit\" });\ntarikh =  `${year}-${month}-${day}`;\n\n\nfor (const item of $input.all()) {\n\n  const payload = $('WAHA Trigger').first().json.payload;\n\n  item.json.message_post = payload.body;\n  item.json.session = $('WAHA Trigger').first().json.session;  \n  item.json.sessionId = payload.from;\n  item.json.from = payload.from;\n  item.json.message_id = payload.id;\n  item.json.hasMedia = payload.hasMedia;\n  item.json.mimetype = payload.media ? payload.media.mimetype : false;  \n  item.json.tarikh = tarikh;\n  \n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -1088
      ],
      "id": "43a8e5bf-1b78-45bd-8a1e-c491ac61f246",
      "name": "var"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random()*5,1) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5024,
        768
      ],
      "id": "f5ce818a-e5db-406f-a037-6a54baebb113",
      "name": "Wait",
      "webhookId": "3b24a82b-7471-433c-baa0-10bbe1fbacd9"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('var').first().json.session }}",
        "chatId": "={{ $('var').first().json.from }}",
        "text": "={{ $('Asingkan text biasa dengan gambar').item.json.text }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        5344,
        768
      ],
      "id": "dbe0aa72-efc6-4137-b94d-90c1e83bc07b",
      "name": "Send a text message",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Stop Typing",
        "session": "={{ $('var').first().json.session }}",
        "chatId": "={{ $('var').first().json.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        5184,
        768
      ],
      "id": "31571ec5-72cb-45e5-ad41-bf813d17cfdb",
      "name": "Stop Typing",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Image",
        "session": "={{ $('var').first().json.session }}",
        "chatId": "={{ $('var').first().json.from }}",
        "file": "={\n  \"mimetype\": \"image/jpeg\",\n  \"filename\": \"{{ $json.timestamp }}.jpg\",\n  \"url\": \"{{ $json.output[1]??$json.output[0] }}\"\n}",
        "caption": "={{ $json.output[1]?$json.output[0]:null }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        4992,
        928
      ],
      "id": "f6ec42fd-40db-4e13-a0ef-67a7848e5b53",
      "name": "Send an image",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "93472987-619b-4ba7-97ea-5b15e2610257",
              "leftValue": "={{ $('var').item.json.hasMedia }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2864,
        -416
      ],
      "id": "16cb9aa4-335b-4472-8e04-93025ac2d582",
      "name": "Text Only"
    },
    {
      "parameters": {
        "url": "={{ $('WAHA Trigger1').item.json.payload.mediaUrl??$json.payload.media.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wahaApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2864,
        64
      ],
      "id": "4c7eb807-8f1c-4dfd-9c24-f9ed95965453",
      "name": "Download Media",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('WAHA Trigger1').item.json.payload.media.mimetype }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ca671463-78af-4c55-9c05-40d71de8dbea"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6a17eda7-37ae-4742-a740-4ca7a5641f6b",
                    "leftValue": "={{ $('WAHA Trigger1').item.json.payload.media.mimetype }}",
                    "rightValue": "image/jpeg",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GAMBAR JPEG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6c25d352-cee8-4f79-b0bf-d64f448c75b9",
                    "leftValue": "={{ $('WAHA Trigger1').item.json.payload.media.mimetype }}",
                    "rightValue": "image/png",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GAMBAR PNG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3eff7a78-3691-40a4-9b56-f7c9f3075f3f",
                    "leftValue": "={{ $('WAHA Trigger1').item.json.payload.media.mimetype }}",
                    "rightValue": "image/webp",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GAMBAR STICKER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "05076dfd-2324-402c-8ce4-70f9ab75efed",
                    "leftValue": "={{ $('WAHA Trigger1').item.json.payload.media.mimetype }}",
                    "rightValue": "audio/ogg;",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUDIO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3168,
        -112
      ],
      "id": "7b8d2a5c-fc68-49ca-88ec-c11081be0069",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3584,
        -144
      ],
      "id": "775a9eb5-72eb-495a-a1c8-fbee32f2d82b",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "qrIOqk9261OK3B5K",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3696,
        -256
      ],
      "id": "99fba661-77f3-47fe-867b-c46bde36ab25",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa890ae8-3a05-445e-843c-ad6a95f4b265",
              "name": "output",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3904,
        -240
      ],
      "id": "413b6ea6-4c9d-43c5-965d-a8b5e4c909eb",
      "name": "PDF Map"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4144,
        -240
      ],
      "id": "225bedbe-6db7-4a92-8222-001bffde6479",
      "name": "Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c0ccd84-71f2-49a8-8d9c-0cdd3cd23d46",
              "name": "output",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3904,
        -64
      ],
      "id": "a4e5bea7-3c46-4cfa-bc04-7ecc3613cb8d",
      "name": "Image Map"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2feafedd-5e7b-40e1-b4fa-fc2ba85d3852",
              "name": "output",
              "value": "={{ $('var').item.json.message_post }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3680,
        -416
      ],
      "id": "d71266e1-98ca-40cd-a884-79c6ee3b81b9",
      "name": "Text Map"
    },
    {
      "parameters": {
        "resource": "speech",
        "operation": "speechToText",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        3696,
        144
      ],
      "id": "070a09e4-f2cd-411a-9f88-8ebeb85c92fd",
      "name": "Transcribe audio or video",
      "credentials": {
        "elevenLabsApi": {
          "id": "3zIFnCxvzGnMkW2J",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9dbd50cc-dafc-4a22-be9b-0417d96ba328",
              "name": "output",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3904,
        144
      ],
      "id": "b0845e75-2a87-4cd6-b686-f080b7c6b27c",
      "name": "Audio Map"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "95a729a0-4066-4dca-b91b-6423e1fad25f",
              "name": "payload.body",
              "value": "={{ $('var').item.json.message }}",
              "type": "string"
            },
            {
              "id": "28305e25-c6e7-41af-b3ae-550c5aadcbf3",
              "name": "payload.media.mimetype",
              "value": "={{ $('WAHA Trigger1').item.json.payload.media.mimetype }}",
              "type": "string"
            },
            {
              "id": "fd575436-2501-48b3-98b3-546d1518e5d7",
              "name": "payload.media.url",
              "value": "={{ $('WAHA Trigger1').item.json.payload.media.url }}",
              "type": "string"
            },
            {
              "id": "84cd5f98-4ad0-4d18-8292-32005fc4a716",
              "name": "payload.body",
              "value": "={{ $('WAHA Trigger1').item.json.payload.body }}",
              "type": "string"
            },
            {
              "id": "f9f8be5a-99b9-43c0-898b-8ee20b2c7593",
              "name": "payload.timestamp",
              "value": "={{ $('WAHA Trigger1').item.json.payload.timestamp }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2864,
        -176
      ],
      "id": "baccf64f-e579-4876-953f-8b3e08c56251",
      "name": "Image Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2eef860-a386-47a1-abe1-ae86806a81cd",
              "name": "sessionId",
              "value": "={{ $('var').item.json.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4320,
        -224
      ],
      "id": "0be8b095-56fb-43b3-bbec-e3deaf210d8d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ccfd0b2b-48e0-4b9d-a4ce-e80de98e8961",
              "leftValue": "={{ $json.payload.from }}",
              "rightValue": "@c.us",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "8685a915-c6a7-45e2-a785-75fbc6640c18",
              "leftValue": "={{ $json.payload.from }}",
              "rightValue": "@lid",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        -1232
      ],
      "id": "ea4497e1-c023-48d6-9070-a667d40dc7b6",
      "name": "If2"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\n\nfunction pad(n){ return String(n).padStart(2, '0'); }\n\nconst utc = new Date(now.getTime() + now.getTimezoneOffset() * 60000);\nconst kl  = new Date(utc.getTime() + 8 * 60 * 60 * 1000);\n\nconst tarikh = `${kl.getFullYear()}-${pad(kl.getMonth()+1)}-${pad(kl.getDate())}`;\nconst bulan = pad(kl.getMonth()+1);\nlet hour = kl.getHours();\nconst minute = pad(kl.getMinutes());\nconst second = pad(kl.getSeconds());\n\nconst ampm = hour >= 12 ? \"PM\" : \"AM\";\nhour = hour % 12;\nhour = hour ? hour : 12; // kalau 0 jadikan 12\n\nconst masa = `${pad(hour)}:${minute}:${second} ${ampm}`;\n\nconst weekdays = ['Ahad','Isnin','Selasa','Rabu','Khamis','Jumaat','Sabtu'];\n\nreturn [\n  {\n    json: {\n      sessionId: $input.first().json.sessionId,\n      tarikh,\n      bulan,\n      masa,              // Format 12 jam (hh:mm:ss AM/PM)\n      hari: weekdays[kl.getDay()]\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        480
      ],
      "id": "8166a685-6c5c-4c27-b241-b2c3ddd78213",
      "name": "Time Now"
    },
    {
      "parameters": {
        "jsCode": "// Input tarikh (boleh ubah manual atau guna new Date() untuk tarikh semasa)\nconst inputDate = new Date($('Time Now').first().json.tarikh); // contoh\n\n// Senarai nama hari\nconst days = [\"ahad\", \"isnin\", \"selasa\", \"rabu\", \"khamis\", \"jumaat\", \"sabtu\"];\n\n// Tahun, bulan, hari\nlet year = inputDate.getFullYear();\nlet month = inputDate.getMonth() + 1; // bulan bermula dari 0\nlet day = inputDate.getDate();\n\n// Cari minggu (1–7 minggu 1, 8–14 minggu 2, dsb.)\nlet minggu = Math.ceil(day / 7);\n\n// Dapatkan nama hari\nlet hari = days[inputDate.getDay()];\n\n// Format tarikh dd/mm/yyyy\nlet tarikh = `${day}/${month}/${year}`;\n\n// Output untuk n8n\nreturn [\n  {\n    json: {\n      hari: hari,\n      minggu: minggu,\n      tarikh: tarikh,\n      masa: $input.first().json.masa,\n      sessionId:$input.first().json.sessionId\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3504,
        480
      ],
      "id": "3da26379-2380-483e-ae8a-b37225694f90",
      "name": "Week"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        272,
        -576
      ],
      "id": "ec0c5fcb-ddd0-4802-8f24-8538308e11eb",
      "name": "Wait1",
      "webhookId": "58ce928c-2c60-4fb6-aa9f-6940b6231838"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "text": "Maaf, sy hanya pembantu maya masjid.. sy tidak dapat menjawab panggilan..",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        496,
        -576
      ],
      "id": "99c6e696-b335-4d7c-8941-78299cd568f8",
      "name": "Send a text message1",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "724a9b7e-a3db-4929-8dae-1107d639e791",
              "leftValue": "={{ $('Output').item.json.output }}",
              "rightValue": "jadual",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "986d9239-7378-4b35-b16b-cd5daa61e71a",
              "leftValue": "={{ $('Output').item.json.output }}",
              "rightValue": "Jadual",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4336,
        144
      ],
      "id": "456b8e8f-0736-4835-87d4-01fa6eed3fdb",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('var').item.json.session }}",
        "chatId": "={{ $('var').item.json.from }}",
        "text": "={{ $('Mesej').item.json.message[0] }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -544,
        112
      ],
      "id": "8597ef6a-e2c7-4452-8169-97d63772d0f4",
      "name": "Send a text message3",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('var').item.json.session }}",
        "chatId": "={{ $('var').item.json.from}}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -1008,
        112
      ],
      "id": "d3188112-d6eb-4c7a-b6cc-7263c6e626b1",
      "name": "Start Typing2",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random()*3,1) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -864,
        112
      ],
      "id": "27ef074e-e16c-48bc-9389-264df37fbcfe",
      "name": "Wait3",
      "webhookId": "3b24a82b-7471-433c-baa0-10bbe1fbacd9"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Stop Typing",
        "session": "={{ $('var').item.json.session }}",
        "chatId": "={{ $('var').item.json.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -720,
        112
      ],
      "id": "4c16d703-7ff2-4eac-8349-fc93edd317e6",
      "name": "Stop Typing2",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const soalan =[\n  { \"soalan\" : \"*Anda perlu mendaftar terlebih dahulu sebelum menggunakan bot ini..* Anda hanya perlu memberikan nama, tarikh lahir dan nama kampung untuk pendaftaran.. \\n\\nSila berikan nama penuh anda terlebih dahulu.\", \"column\":\"nama\",\"remark\":\"Pastikan mesej yang dihantar adalah nama yang betul, contoh nama mohamad shukri bin senawi, abu bin mat, ropiah binti razali, ali b mat, suzali abu. Jika betul status=success dan message = nama\"},\n  { \"soalan\" : \"Nama panggilan di kampung\", \"column\":\"gelaran\",\"remark\":\"Gelaran adalah nama singkatan, boleh letak apa sahaja..\\ncontoh gelaran krie, shuk, pak teh mi, bob, siddek. Jika betul status=success dan message = gelaran\"},\n  { \"soalan\" : \"Tarikh Lahir anda\", \"column\":\"tarikh_lahir\",\"remark\":\"Pastikan mesej yang dihantar adalah tarikh lahir yang betul. Jika betul status=success dan message = tarikh lahir\"},\n  { \"soalan\" : \"Soalan terakhir.. Berikan nama kampung anda.\", \"column\":\"alamat\",\"remark\":\"Pastikan mesej yang dihantar adalah nama kampung yang betul.Jika betul status=success dan message = alamat\"},  \n  { \"soalan\" : \"*Tahniah pendaftaran anda telah berjaya!* \\n\\nPendaftaran ini hanya sekali, selepas ini \"+$input.first().json.gelaran+\" blh terus mesej pada sy jika ada sebarang pertanyaan tentang masjid seperti : \\n\\n- Kitab pengajian pada hari ini.\\n- Gambar jadual pengajian\\n- Gambar QR masjid.\\n- Dan sebagainya.. insyaallah.. sy cuba menjawab apa yg sy tahu..\\n\\nTerima kasih kerana sudi meluangkan masa untuk mendaftar.\", \"column\":\"\",\"remark\":\"status=success dan output = Tahniah pendaftaran anda telah berjaya! Anda ada apa-apa soalan yang ingin ditanyakan?\"}\n               ];\nlet state;\n\nif($('Cek Daftar').first().json.on==null)\n  state = 1000;\nelse\n  state = $('Cek Daftar').first().json.on;\n\nreturn [\n  {\n    json:{\n      soalan_seterusnya:soalan[state]??soalan[0],\n      soalan_sebelum:soalan[state-1],\n      state:state\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        -800
      ],
      "id": "6f0e1c68-3c2c-4896-9c5c-0d84d7c53c48",
      "name": "Soalan"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "3b82151d-16f2-4e05-8c5f-6e52b6333354",
              "leftValue": "={{ $json.state }}",
              "rightValue": 1000,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -976,
        -800
      ],
      "id": "ed38a4b3-5062-4fd5-b3b6-eab098757bdb",
      "name": "If3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$('var').item.json.message_post}}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=- Bercakap dalam bahasa melayu, malaysia.\n- Interaksi secara sopan.\n- Anda pakar bahasa melayu\n\n{{ $json.soalan_sebelum.remark }}\nJika mesej yang diterima terdapat kesalahan jadikan status=error dan keluarkan output kesalahan tersebut.\n\nkeluarkan output dalam json\n\n{\n\t\"status\": status mesej,\n\t\"message\": output mesej, jika tarikh lahir tukarkan kepada format YYYY-mm-dd\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1024,
        -528
      ],
      "id": "fedc6b35-2492-49f0-982f-fe1cf6cbfe63",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "577cceec-52ba-4f13-b0c2-8d3994551d71",
              "leftValue": "={{ $json.output.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1552,
        -336
      ],
      "id": "3734e1ce-784b-401e-be64-2896d514cf3d",
      "name": "If4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -720,
        -336
      ],
      "id": "052e0692-4e70-4008-9314-5aad11a1d1f3",
      "name": "Model",
      "credentials": {
        "openAiApi": {
          "id": "fVROc60J7L6j0kn5",
          "name": "Ai Sumapod"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"status\": \"success\",\n\t\"message\": \"mohamad shukri\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -608,
        -352
      ],
      "id": "597702ff-670a-4852-ac31-2940e3970d0f",
      "name": "Structure"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -640,
        -128
      ],
      "id": "f94d23ac-922b-4ab9-a5d8-9872df72f4f4",
      "name": "Mesej"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "62c3fca2-63a9-4459-95ce-e350a99e1743",
              "name": "message",
              "value": "={{ $('Soalan').item.json.soalan_seterusnya.soalan }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        -80
      ],
      "id": "c6541c89-ed71-437b-929d-69ab0dd535c9",
      "name": "Output Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e70273ef-09fa-4806-95e2-8e15208c6476",
              "name": "message",
              "value": "={{ $json.output.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        -240
      ],
      "id": "36036ee2-b487-490f-a884-ee4c057bdcab",
      "name": "Output Message 2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "fd22576f-061f-445f-a56e-16afd9b29871",
              "leftValue": "={{$('var').item.json.message_post}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -768,
        -784
      ],
      "id": "9aa26baf-5bf4-4359-9dac-c92f78a8e657",
      "name": "If7"
    },
    {
      "parameters": {
        "collection": "n8n_chat_histories",
        "options": {
          "limit": 1,
          "sort": "{\n  \"_id\":\"desc\"\n}"
        },
        "query": "={\n  \"sessionId\": \"{{ $('var').item.json.from }}\"\n} "
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        3344,
        480
      ],
      "id": "d648a9f5-29c3-4117-80a7-853aee339526",
      "name": "mesej sebelum",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "mongoDb": {
          "id": "IqR2txMNB7MReG93",
          "name": "MongoDB account"
        }
      },
      "disabled": true,
      "notes": "cari memori"
    },
    {
      "parameters": {
        "resource": "Groups",
        "operation": "Get Participants",
        "session": "={{ $('var').item.json.session }}",
        "id": "60134507038-1477703538@g.us",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        3040,
        480
      ],
      "id": "83b34e8c-280d-4470-859a-dc52ffaa9620",
      "name": "Senarai AJK Masjid",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=gambar ini adalah gambar sticker respond daripada mesej sblum ini. Tidak perlu terang tentang gambar seperti gambar ini tentang.... cukup jawab apa yang dihantar dlm gambar.. contoh gambar tulis Assalamualaikum.. output keluar waalaikumussalam sahaja.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3600,
        16
      ],
      "id": "3b0dce43-b623-4c94-b0c1-ad8f83475cf2",
      "name": "Analyze Sticker",
      "credentials": {
        "openAiApi": {
          "id": "qrIOqk9261OK3B5K",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "AFOFafR5B6BPxidl",
          "mode": "list",
          "cachedResultName": "Masjid - Waktu Solat",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/AFOFafR5B6BPxidl"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "tarikh",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', `Tarikh yang hendak dicari dalam format YYYY-mm-dd`, 'string') }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        3952,
        672
      ],
      "id": "52c82d08-a15f-4fe8-b16d-fb6512753574",
      "name": "Waktu Solat 2025"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        4496,
        672
      ],
      "id": "56cf217c-115e-4339-a4f1-c66e73cddb87",
      "name": "Calculator"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ String($json.on) }}",
                    "rightValue": "5",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "55b09030-8709-4ddb-8bd1-22b926a37834"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "on"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "74bd738c-6650-4b75-9ff6-4ba0493cad11",
                    "leftValue": "={{ String($json.on) }}",
                    "rightValue": "6",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Jawab Soalan Pengajian"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6f246441-5455-4ed2-b956-c79083f06b0d",
                    "leftValue": "={{ parseInt($json.on) }}",
                    "rightValue": 5,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Belum Daftar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "64cd324a-d879-4094-87ba-53d620c2f258",
                    "leftValue": "={{ parseInt($json.on) }}",
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Belum Daftar"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        208,
        -784
      ],
      "id": "4de5d192-70c3-4d11-8b05-5ec654184b2c",
      "name": "Switch1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "49d93a60-28b8-43fb-8979-c4b9c3482fc1",
              "leftValue": "={{ $('Output').first().json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3712,
        480
      ],
      "id": "39a4f7d4-304e-4b98-a4e6-123b0467d0f1",
      "name": "If8"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "HN8sWAjmlWfOkjSI",
          "mode": "list",
          "cachedResultName": "Masjid - Notification",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/HN8sWAjmlWfOkjSI"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "no_tel",
              "keyValue": "={{ $('var1').item.json.no_tel }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1168,
        -736
      ],
      "id": "bf04578b-92d2-4270-8f6c-597e6cc37166",
      "name": "Check Notification",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1392,
        -496
      ],
      "id": "854a102f-033e-422f-a425-235f3210feac",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fVROc60J7L6j0kn5",
          "name": "Ai Sumapod"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"active\": \"Ya\",\n    \"message\": \"Terima kasih\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1536,
        -480
      ],
      "id": "6e5eb9dc-42dd-4ff9-b750-0615569daae7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "HN8sWAjmlWfOkjSI",
          "mode": "list",
          "cachedResultName": "Masjid - Notification",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/HN8sWAjmlWfOkjSI"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Check Notification').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1440,
        -224
      ],
      "id": "b0906969-4cec-41eb-a121-fdf46b8df50c",
      "name": "Delete Notification"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Stop Typing",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('var1').item.json.no_tel }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1744,
        64
      ],
      "id": "1d8e7b70-caa2-463d-acc2-9656d7a4f4e6",
      "name": "Stop Typing1",
      "retryOnFail": true,
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('var1').item.json.no_tel }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1440,
        64
      ],
      "id": "e8ef6c23-4297-402c-8702-7d500db231e8",
      "name": "Start Typing1",
      "retryOnFail": true,
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "ssP2ikwXFWiluBNx",
          "mode": "list",
          "cachedResultName": "Masjid - Jadual Pengajian",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/ssP2ikwXFWiluBNx"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Check Notification').item.json.id_penajian }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "active": "={{ $('AI Agent1').item.json.output.active }}",
            "tarikh_peringatan": "-"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "kitab",
              "displayName": "kitab",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "hari",
              "displayName": "hari",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "minggu",
              "displayName": "minggu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "masa",
              "displayName": "masa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pengajar",
              "displayName": "pengajar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tempat",
              "displayName": "tempat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "live",
              "displayName": "live",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tarikh_bulan_ini",
              "displayName": "tarikh_bulan_ini",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tarikh_peringatan",
              "displayName": "tarikh_peringatan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "no_hp_peringatan",
              "displayName": "no_hp_peringatan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "active",
              "displayName": "active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sebab_tidak_mengajar",
              "displayName": "sebab_tidak_mengajar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "poster",
              "displayName": "poster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1600,
        -224
      ],
      "id": "afb7f02d-93bd-4462-b568-3f6552e6a95f",
      "name": "Kemaskini Pengajian"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1632,
        -336
      ],
      "id": "dbc1f655-8586-4db7-910f-b779cbcbd723",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "fVROc60J7L6j0kn5",
          "name": "Ai Sumapod"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('var1').item.json.session }}",
        "chatId": "={{ $json.from }}",
        "messageId": "={{ $json.message_id }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1024,
        -736
      ],
      "id": "ce5c771d-05ae-47fa-b31a-b3d8b285b1b2",
      "name": "Send Seen1",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst now = new Date();\nlet tarikh = now.toISOString().split(\"T\")[0];\nconst options = { timeZone: \"Asia/Kuala_Lumpur\" };\nconst year = now.toLocaleString(\"en-GB\", { ...options, year: \"numeric\" });\nconst month = now.toLocaleString(\"en-GB\", { ...options, month: \"2-digit\" });\nconst day = now.toLocaleString(\"en-GB\", { ...options, day: \"2-digit\" });\ntarikh =  `${year}-${month}-${day}`;\n\n\nfor (const item of $input.all()) {\n\n  const payload = $('WAHA Trigger').first().json.payload;\n\n  item.json.message_post = payload.body;\n  item.json.session = $('WAHA Trigger').first().json.session;  \n  item.json.sessionId = payload.from;\n  item.json.from = payload.from;\n  item.json.message_id = payload.id;\n  item.json.hasMedia = payload.hasMedia;\n  item.json.mimetype = payload.media ? payload.media.mimetype : false;  \n  item.json.tarikh = tarikh;\n  \n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -704
      ],
      "id": "4d2b55c8-b24c-4d1c-b40b-c0748ac50b00",
      "name": "var1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('WAHA Trigger').item.json.payload.body }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=- Bercakap dalam bahasa melayu, malaysia.\n- Komunikasi secara santai.\n- Gunakan gelaran pengguna iaitu {{ $('Cek Daftar').item.json.gelaran }}\n\nMesej ini adalah jawapan dari soalan:\n\"{{ $json.message }}\"\n\n- Abaikan mesej yang lepas.. rujuk pada soalan diatas..\n- Perkataan [insyaallah, ada dan ya] bermaksud ada pengajian.\n- Perkataan [xdak dan tiada] bermaksud ada tiada pengajian.\n- Jika ada pengajian active=Ya, jika tiada pengajian status=Tidak, output ucap terima kasih dan beritahu bahawa jadual pengajian kitab... telah berjaya dikemaskini.\n- Jika mesej yang diterima terdapat kesalahan jadikan active=Error dan keluarkan output kesalahan tersebut.\n- Jika jawapan diberikan anda tidak dapat memahami keluarkan active=Error dan output \"Saya tidak dapat memahami mesej tersebut.\"\n\nPENTING!!\n- key active hanya ada 3 jawapan iaitu Ya, Tidak dan Error\n\nkeluarkan output dalam json\n\n{\n\t\"active\": nilai active antara Ya, Tidak dan Error,\n\t\"message\": output mesej\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1408,
        -736
      ],
      "id": "d734a408-c51a-4c36-8c73-1aacc6f7e406",
      "name": "AI Agent1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('var').first().json.from }}",
        "text": "={{ $('AI Agent1').item.json.output.message }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1904,
        64
      ],
      "id": "4b472adc-6b0d-4549-87f8-5949cc50fb87",
      "name": "Send a text message2",
      "retryOnFail": true,
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random()*4,1) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1600,
        64
      ],
      "id": "49c4f963-f9df-4020-bff5-b75ce8d85902",
      "name": "Wait2",
      "webhookId": "fed00e73-ccfa-4b99-afed-35a5341d30c6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.active }}",
                    "rightValue": "Ya",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cc12ff5b-84f8-4b5b-9873-b23641313954"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ya"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6e6fbe0a-5de6-4c77-ab98-16d5a8c62671",
                    "leftValue": "={{ $json.output.active }}",
                    "rightValue": "Tidak",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tidak"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ff415543-bd9f-47b4-8f7e-8e4750657a74",
                    "leftValue": "={{ $json.output.active }}",
                    "rightValue": "Error",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Error"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3e367f76-449d-4dde-b1bb-81bfa79c3c1c",
                    "leftValue": "={{ $json.output.active }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not Exists"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        960,
        -176
      ],
      "id": "d400cede-55c7-44cd-b2d2-f1edef5c29d7",
      "name": "Switch2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "6TDWi5bdTjrwOocH",
          "mode": "list",
          "cachedResultName": "Masjid - Anak Khariah",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/6TDWi5bdTjrwOocH"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "no_tel",
              "keyValue": "={{ $('WAHA Trigger').item.json.payload.from }}"
            },
            {
              "keyName": "id_hp",
              "keyValue": "={{ $('WAHA Trigger').item.json.payload.from }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        496,
        -1072
      ],
      "id": "0752d965-a7d6-4d47-ae8c-de499f7ea5ba",
      "name": "Cek Daftar",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "6TDWi5bdTjrwOocH",
          "mode": "list",
          "cachedResultName": "Masjid - Anak Khariah",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/6TDWi5bdTjrwOocH"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "on": 1,
            "nama": "={{ $('WAHA Trigger').item.json.payload.from }}",
            "no_tel": "={{ $('WAHA Trigger').item.json.payload.from }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nama",
              "displayName": "nama",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "gelaran",
              "displayName": "gelaran",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "alamat",
              "displayName": "alamat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tarikh_lahir",
              "displayName": "tarikh_lahir",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "no_tel",
              "displayName": "no_tel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "gambar",
              "displayName": "gambar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "on",
              "displayName": "on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1392,
        -512
      ],
      "id": "c857d72f-9ec0-46fc-b6f8-917d4227490e",
      "name": "Daftar"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Soalan').item.json.state }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "f0011c48-d0fa-415e-aac7-1381f034d772"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nama"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4954ffb1-d672-4d0b-b42e-19b2b5919201",
                    "leftValue": "={{ $('Soalan').item.json.state }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "gelaran"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "66c1a418-edbb-4be6-a14b-e2a3ef85024e",
                    "leftValue": "={{ $('Soalan').item.json.state }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tarikh Lahir"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b56cc07c-81ee-4c10-88b7-cc1e0a0b3956",
                    "leftValue": "={{ $('Soalan').item.json.state }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Kampung"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1552,
        -160
      ],
      "id": "e910dd71-feb1-4aaf-8452-c20714b2b2a3",
      "name": "Switch3"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "6TDWi5bdTjrwOocH",
          "mode": "list",
          "cachedResultName": "Masjid - Anak Khariah",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/6TDWi5bdTjrwOocH"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "no_tel",
              "keyValue": "={{ $('WAHA Trigger').item.json.payload.from }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nama": "={{ $json.output.message }}",
            "on": "={{ $('Soalan').item.json.state+1 }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nama",
              "displayName": "nama",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "gelaran",
              "displayName": "gelaran",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "alamat",
              "displayName": "alamat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tarikh_lahir",
              "displayName": "tarikh_lahir",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "no_tel",
              "displayName": "no_tel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "gambar",
              "displayName": "gambar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "on",
              "displayName": "on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1296,
        -256
      ],
      "id": "80ed546a-6c6c-4c34-b84b-8231f62259f9",
      "name": "Kemaskini Nama"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "6TDWi5bdTjrwOocH",
          "mode": "list",
          "cachedResultName": "Masjid - Anak Khariah",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/6TDWi5bdTjrwOocH"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "no_tel",
              "keyValue": "={{ $('WAHA Trigger').item.json.payload.from }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "on": "={{ $('Soalan').item.json.state+1 }}",
            "gelaran": "={{ $json.output.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nama",
              "displayName": "nama",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "gelaran",
              "displayName": "gelaran",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "alamat",
              "displayName": "alamat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tarikh_lahir",
              "displayName": "tarikh_lahir",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "no_tel",
              "displayName": "no_tel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "gambar",
              "displayName": "gambar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "on",
              "displayName": "on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1296,
        -112
      ],
      "id": "8a399e8f-91ce-425f-9215-ef23fe8a9558",
      "name": "Kemaskini Gelaran"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "6TDWi5bdTjrwOocH",
          "mode": "list",
          "cachedResultName": "Masjid - Anak Khariah",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/6TDWi5bdTjrwOocH"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "no_tel",
              "keyValue": "={{ $('WAHA Trigger').item.json.payload.from }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "on": "={{ $('Soalan').item.json.state+1 }}",
            "tarikh_lahir": "={{ $json.output.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nama",
              "displayName": "nama",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "gelaran",
              "displayName": "gelaran",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "alamat",
              "displayName": "alamat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tarikh_lahir",
              "displayName": "tarikh_lahir",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "no_tel",
              "displayName": "no_tel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "gambar",
              "displayName": "gambar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "on",
              "displayName": "on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1296,
        32
      ],
      "id": "99769d24-5ff2-4c27-abdc-f18760146c6b",
      "name": "Kemaskini Tarikh Lahir"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "6TDWi5bdTjrwOocH",
          "mode": "list",
          "cachedResultName": "Masjid - Anak Khariah",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/6TDWi5bdTjrwOocH"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "no_tel",
              "keyValue": "={{ $('WAHA Trigger').item.json.payload.from }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "on": "={{ $('Soalan').item.json.state+1 }}",
            "alamat": "={{ $json.output.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nama",
              "displayName": "nama",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "gelaran",
              "displayName": "gelaran",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "alamat",
              "displayName": "alamat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tarikh_lahir",
              "displayName": "tarikh_lahir",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "no_tel",
              "displayName": "no_tel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "gambar",
              "displayName": "gambar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "on",
              "displayName": "on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1296,
        192
      ],
      "id": "5a82c8b0-5a49-446c-9f21-9ed097136c8f",
      "name": "Kemaskini Kampung"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "6TDWi5bdTjrwOocH",
          "mode": "list",
          "cachedResultName": "Masjid - Anak Khariah",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/6TDWi5bdTjrwOocH"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "no_tel",
              "keyValue": "={{ $('var1').item.json.no_tel }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "on": 5
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nama",
              "displayName": "nama",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "gelaran",
              "displayName": "gelaran",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "alamat",
              "displayName": "alamat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tarikh_lahir",
              "displayName": "tarikh_lahir",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "no_tel",
              "displayName": "no_tel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "gambar",
              "displayName": "gambar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "on",
              "displayName": "on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1936,
        -224
      ],
      "id": "e2a2b98c-c994-4fae-bbc0-ae9062a1beb2",
      "name": "Aktifkan Semula"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "6TDWi5bdTjrwOocH",
          "mode": "list",
          "cachedResultName": "Masjid - Anak Khariah",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/6TDWi5bdTjrwOocH"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "no_tel",
              "keyValue": "={{ $('WAHA Trigger1').item.json.payload.from }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nama": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nama', `Nama Penuh`, 'string') }}",
            "gelaran": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('gelaran', `Gelaran atau panggilan di kampung`, 'string') }}",
            "alamat": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('alamat', `Nama Kampung`, 'string') }}",
            "tarikh_lahir": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tarikh_lahir', `Tarikh lahir dalam format YYYY-mm-dd`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nama",
              "displayName": "nama",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "gelaran",
              "displayName": "gelaran",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "alamat",
              "displayName": "alamat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tarikh_lahir",
              "displayName": "tarikh_lahir",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "no_tel",
              "displayName": "no_tel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "gambar",
              "displayName": "gambar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "on",
              "displayName": "on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        4352,
        672
      ],
      "id": "890ada7f-f162-43f0-b52c-36d7ea02b2ef",
      "name": "Kemaskini Profile"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "58f29bda-3977-4c50-a919-e8d919f442c9",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        4128,
        1152
      ],
      "credentials": {
        "openAiApi": {
          "id": "fVROc60J7L6j0kn5",
          "name": "Ai Sumapod"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "f5e5a630-f993-43f8-9f7e-32baafda7f3c",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        4128,
        1008
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Ehjs6dRtJNVzHK8N",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "134e6ba9-7f16-4302-823b-25d3f4ce890d",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        4368,
        1104
      ],
      "credentials": {
        "openAiApi": {
          "id": "fVROc60J7L6j0kn5",
          "name": "Ai Sumapod"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "gambar",
          "mode": "list",
          "cachedResultName": "gambar"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "where": {
          "values": [
            {
              "column": "bisnes_id",
              "value": "={{ $('var').item.json.bisnes_id }}"
            },
            {
              "column": "ai_search",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.4,
      "position": [
        4224,
        672
      ],
      "id": "f588c3d1-3ab4-4ba5-98e4-47a7d58a6978",
      "name": "Gambar",
      "credentials": {
        "mySql": {
          "id": "WVOsGLIu4O9V3X6j",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Stop Typing",
        "session": "={{ $('var user').item.json.session }}",
        "chatId": "={{ $('var user').item.json.no_hp }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1920,
        288
      ],
      "id": "850c4850-e13c-4799-8b7f-f4c73ec29061",
      "name": "Stop Typing3",
      "retryOnFail": true,
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('var user').item.json.session }}",
        "chatId": "={{ $('var user').item.json.no_hp }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1616,
        288
      ],
      "id": "f2f008ed-7150-4656-b6c8-7fed782627db",
      "name": "Start Typing3",
      "retryOnFail": true,
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('var user').item.json.session }}",
        "chatId": "={{ $('var').first().json.from }}",
        "text": "={{ $('var user').item.json.message }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        2080,
        288
      ],
      "id": "d63b7845-3195-411d-9c9d-92507714ceaf",
      "name": "Send a text message4",
      "retryOnFail": true,
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random()*4,1) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1776,
        288
      ],
      "id": "9e0738d8-d910-4c15-b2a9-61a0f663e7e6",
      "name": "Wait4",
      "webhookId": "fed00e73-ccfa-4b99-afed-35a5341d30c6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f41787fd-774c-4a9d-abe6-40d9935c09a0",
              "leftValue": "={{ $('Cari Pengajian').item.json.tempat }}",
              "rightValue": " Ribat Abu AL-Hassan",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2208,
        -224
      ],
      "id": "a2f81922-71c1-4c49-8fe5-d9e27272f366",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.no_hp = '60104623195@c.us';//'60195168839@c.us';// \n  item.json.message = $('Cari Pengajian').first().json.active=='Ya' ?'Assalamualaikum.. pengajian esk berjalan seperti biasa..':'Assalamualaikum.. pengajian esk DIBATALKAN..';\n  item.json.session = 'masjid_session';\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        288
      ],
      "id": "41a83c4c-2e04-4b28-ad9e-0415ba9e8299",
      "name": "var user"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ssP2ikwXFWiluBNx",
          "mode": "list",
          "cachedResultName": "Masjid - Jadual Pengajian",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/ssP2ikwXFWiluBNx"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Check Notification').item.json.id_penajian }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1760,
        -224
      ],
      "id": "66a2fc27-b576-4140-b4aa-c242c9a6dba5",
      "name": "Cari Pengajian"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3376,
        960
      ],
      "id": "b300efdb-ffe4-45a4-af7e-73a1880f1b4c",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "qrIOqk9261OK3B5K",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "ssP2ikwXFWiluBNx",
          "mode": "list",
          "cachedResultName": "Masjid - Jadual Pengajian",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/ssP2ikwXFWiluBNx"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "tarikh_bulan_ini",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', `Tarikh Pengajian dalam format YYYY-mm-dd`, 'string') }}"
            },
            {
              "keyName": "kitab",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions1_Value', `Nama Kitab Pengajian`, 'string') }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "active": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('active', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "kitab",
              "displayName": "kitab",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "hari",
              "displayName": "hari",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "minggu",
              "displayName": "minggu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "masa",
              "displayName": "masa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pengajar",
              "displayName": "pengajar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tempat",
              "displayName": "tempat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "live",
              "displayName": "live",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tarikh_bulan_ini",
              "displayName": "tarikh_bulan_ini",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tarikh_peringatan",
              "displayName": "tarikh_peringatan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "no_hp_peringatan",
              "displayName": "no_hp_peringatan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "active",
              "displayName": "active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sebab_tidak_mengajar",
              "displayName": "sebab_tidak_mengajar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "poster",
              "displayName": "poster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        3680,
        960
      ],
      "id": "80ac018c-6202-4213-b2fa-266e7cc67c6c",
      "name": "Kemaskini Pengajian1"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "Analisa ayat berikut dan tentukan niat pengguna:\n- \"kemaskini\" jika ayat bermaksud mengubah maklumat lama.\n\nGunakan tool `Kemaskini Pengajian` untuk mengemaskini pengajian\n- Rujuk nama kitab di tool `Senarai Pengajian` bahagian column kitab.\n- Jika ada bermaksud ada pengajian, jika xdak bermaksud tiada pengajian\n- Jika ada pengajian active = Ya, jika tiada active = Tidak\n\n\nJangan tulis nama kitab yang tiada didalam jadual pengajian!!\nSenaraikan jadual pengajian mengikut waktu yang mana dahulu.. contoh pengajian selepas subuh, pengajian pukul 3 petang baru pengajian lepas solat maghrib..\nJangan masukkan poster jika pengguna bertanya tentang pengajian.\n\n- Sebelum keluarkan output status kemaskini pengajian pastikan dahulu data telah berjaya dikemaskini."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        3472,
        816
      ],
      "id": "f6445c4f-58f2-472b-92c7-8fe52a282a59",
      "name": "AI Jadual Pengajian"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "60195168839@c.us",
        "text": "={{ $('Cari Pengajian').first().json.active=='Ya' ?'Assalamualaikum.. pengajian esk berjalan seperti biasa..':'Assalamualaikum.. pengajian esk DIBATALKAN..' }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        2176,
        -16
      ],
      "id": "06072105-ec38-4d49-8c23-cdbee34af931",
      "name": "Send a text message5",
      "retryOnFail": true,
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
      "typeVersion": 202502,
      "position": [
        -112,
        -1024
      ],
      "id": "2934c6f1-5fc6-4526-a168-d39ada51f8c0",
      "name": "WAHA Trigger",
      "webhookId": "ea464110-b609-4814-9de6-acbb1d027fb8"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hNPi9M_atW7059PJp9J15uFuTR1M02gGRENc5oF7Bpg",
          "mode": "list",
          "cachedResultName": "Data Kematian",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNPi9M_atW7059PJp9J15uFuTR1M02gGRENc5oF7Bpg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1061991772,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNPi9M_atW7059PJp9J15uFuTR1M02gGRENc5oF7Bpg/edit#gid=1061991772"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        3696,
        656
      ],
      "id": "469af01e-8789-4a69-a652-a18ad9923d76",
      "name": "Maklumat Kematian",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U0ZMoxWRU8t5JEF5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ssP2ikwXFWiluBNx",
          "mode": "list",
          "cachedResultName": "Masjid - Jadual Pengajian",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/ssP2ikwXFWiluBNx"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "tarikh_bulan_ini",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', `Tarikh yang hendak dicari dalam format YYYY-mm-dd`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        3536,
        960
      ],
      "id": "41d48def-14d3-4798-8dde-9018331ef3ce",
      "name": "Jadual Pengajian"
    },
    {
      "parameters": {
        "name": "database",
        "description": "retrieves data about projects"
      },
      "id": "65436247-8d09-4777-9669-fc04de1008f2",
      "name": "Maklumat Lain",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        4240,
        848
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('var').first().json.from }}",
        "databaseName": "mieayam7140_JamuAsli"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        4096,
        672
      ],
      "id": "4aa2c0fb-acb9-4f02-8c30-b078894ac3ea",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "IqR2txMNB7MReG93",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c6e8e48b-57da-41d4-a9f6-53027b165b6c",
              "leftValue": "={{$('var').item.json.message_post}}",
              "rightValue": "Assalamualaikum.. nk join group LIVE Masjid",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        -1280
      ],
      "id": "38d60683-324a-4aed-9bd6-89c15bea00f6",
      "name": "If5"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('var').item.json.session }}",
        "chatId": "={{ $('var').item.json.from }}",
        "text": "=Waalaikumussalam.. sila klik link group ini.. https://chat.whatsapp.com/GlvTwSX9RFX1CpJ5j3rSTq?mode=wwt",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1200,
        -1296
      ],
      "id": "0b19b5f8-d9b4-4e74-a2f7-6400fe0cae53",
      "name": "Send a text message7",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('var').item.json.session }}",
        "chatId": "={{ $('var').item.json.from}}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        736,
        -1296
      ],
      "id": "e9f9377d-f52b-4738-acc2-b631be5e8707",
      "name": "Start Typing4",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random()*3,1) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        880,
        -1296
      ],
      "id": "1780c566-4f7e-417d-adf9-937753eeb779",
      "name": "Wait5",
      "webhookId": "3b24a82b-7471-433c-baa0-10bbe1fbacd9"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Stop Typing",
        "session": "={{ $('var').item.json.session }}",
        "chatId": "={{ $('var').item.json.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1024,
        -1296
      ],
      "id": "116ac6d7-c1fb-4c3d-9bbe-b49112944c3c",
      "name": "Stop Typing4",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('var').item.json.session }}",
        "chatId": "={{ $('var').item.json.from }}",
        "text": "Anda tidak dibenarkan untuk mengakses sistem ini.. Jika ada sebarang soalan sila hubungi admin 019-5168839.",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1328,
        -960
      ],
      "id": "7822e002-ab96-40c6-b3b6-e4a88447c70d",
      "name": "Send a text message6",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('var').item.json.session }}",
        "chatId": "={{ $('var').item.json.from}}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        864,
        -960
      ],
      "id": "748f28e1-1b9d-4fb2-b7e2-f08f7eb1fc84",
      "name": "Start Typing5",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random()*3,1) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1008,
        -960
      ],
      "id": "a2beef7d-e01f-438a-900e-312d09996450",
      "name": "Wait6",
      "webhookId": "3b24a82b-7471-433c-baa0-10bbe1fbacd9"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Stop Typing",
        "session": "={{ $('var').item.json.session }}",
        "chatId": "={{ $('var').item.json.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1152,
        -960
      ],
      "id": "5b44a9d1-b44d-45f2-ae8a-1fa00beb24f5",
      "name": "Stop Typing5",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "content": "PENDAFTRAN",
        "height": 1264,
        "width": 1424
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1728,
        -864
      ],
      "typeVersion": 1,
      "id": "a14c4273-266c-4ac0-be3b-882b688095bb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hNPi9M_atW7059PJp9J15uFuTR1M02gGRENc5oF7Bpg",
          "mode": "list",
          "cachedResultName": "Data Kematian",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNPi9M_atW7059PJp9J15uFuTR1M02gGRENc5oF7Bpg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1061991772,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNPi9M_atW7059PJp9J15uFuTR1M02gGRENc5oF7Bpg/edit#gid=1061991772"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nama": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nama', ``, 'string') }}",
            "Kampung": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Kampung', ``, 'string') }}",
            "Umur": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Umur', ``, 'string') }}",
            "Tarikh Kematian": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tarikh_Kematian', `format YYYY-mm-dd`, 'string') }}",
            "Masa Kematian": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Masa_Kematian', ``, 'string') }}",
            "Penunggu": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Penunggu', `Nama orang yang menunggu kubur`, 'string') }}",
            "Hari Kematian": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Hari_Kematian', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nama",
              "displayName": "Nama",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Kampung",
              "displayName": "Kampung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Umur",
              "displayName": "Umur",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hari Kematian",
              "displayName": "Hari Kematian",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tarikh Kematian",
              "displayName": "Tarikh Kematian",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Masa Kematian",
              "displayName": "Masa Kematian",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Penunggu",
              "displayName": "Penunggu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1088,
        1088
      ],
      "id": "d9728271-beb6-4966-9bad-0f65391657e3",
      "name": "Tambah Kematian",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U0ZMoxWRU8t5JEF5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hNPi9M_atW7059PJp9J15uFuTR1M02gGRENc5oF7Bpg",
          "mode": "list",
          "cachedResultName": "Data Kematian",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNPi9M_atW7059PJp9J15uFuTR1M02gGRENc5oF7Bpg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1061991772,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNPi9M_atW7059PJp9J15uFuTR1M02gGRENc5oF7Bpg/edit#gid=1061991772"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nama": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nama__using_to_match_', ``, 'string') }}",
            "Kampung": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Kampung', ``, 'string') }}",
            "Umur": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Umur', ``, 'string') }}",
            "Tarikh Kematian": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tarikh_Kematian', `format YYYY-mm-dd`, 'string') }}",
            "Masa Kematian": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Masa_Kematian', ``, 'string') }}",
            "Penunggu": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Penunggu', `Nama orang yang menunggu kubur`, 'string') }}",
            "Hari Kematian": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Hari_Kematian', ``, 'string') }}"
          },
          "matchingColumns": [
            "Nama"
          ],
          "schema": [
            {
              "id": "Nama",
              "displayName": "Nama",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Kampung",
              "displayName": "Kampung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Umur",
              "displayName": "Umur",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hari Kematian",
              "displayName": "Hari Kematian",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tarikh Kematian",
              "displayName": "Tarikh Kematian",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Masa Kematian",
              "displayName": "Masa Kematian",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Penunggu",
              "displayName": "Penunggu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1264,
        1088
      ],
      "id": "623e256f-bfea-4e60-a207-b753c661b0ec",
      "name": "Kemaskini Kematian",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U0ZMoxWRU8t5JEF5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hNPi9M_atW7059PJp9J15uFuTR1M02gGRENc5oF7Bpg",
          "mode": "list",
          "cachedResultName": "Data Kematian",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNPi9M_atW7059PJp9J15uFuTR1M02gGRENc5oF7Bpg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1061991772,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNPi9M_atW7059PJp9J15uFuTR1M02gGRENc5oF7Bpg/edit#gid=1061991772"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1440,
        1088
      ],
      "id": "9a520c71-dc1a-412e-a118-928f9003ee68",
      "name": "Senarai Kematian",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U0ZMoxWRU8t5JEF5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "description": "Cari Hari Kematian menggunakan tarikh kematian dengan format YYYY-mm-dd",
        "jsCode": "const date = new Date($fromAi('query')); // ambil tarikh dari input\nconst days = ['Ahad','Isnin','Selasa','Rabu','Khamis','Jumaat','Sabtu'];\nreturn days[date.getDay()];"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1584,
        1088
      ],
      "id": "18418a8b-dcdf-4150-a076-cb5c0a22aeb5",
      "name": "Cari Hari Kematian"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Var').item.json.session_memory }}",
        "databaseName": "=mieayam7140_JamuAsli"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        1216,
        896
      ],
      "id": "8cd5731f-9fba-48ed-af8d-62e04ed8cb29",
      "name": "MongoDB Chat Memory1",
      "credentials": {
        "mongoDb": {
          "id": "IqR2txMNB7MReG93",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Var').item.json.payload.body }}",
        "options": {
          "systemMessage": "=Tarikh semasa hari ini ialah {{$('Now').item.json.tarikh}}, hari {{$('Now').item.json.hari}}, pukul {{$('Now').item.json.masa}}\n\nAnda ialah AI Agent dalam n8n yang menguruskan data kematian bagi Masjid.\nSemua data disimpan dalam DataTable bernama “Masjid - Kematian”.\n\nPeranan anda ialah melaksanakan operasi CRUD (Cipta, Baca, Kemas Kini, Padam) menggunakan node DataTable berikut:\n\nPemetaan Node Operasi:\n- “Tambah Kematian” → untuk operasi Cipta (Insert), pastikan tiada nama yang sama dalam database\n- “Senarai Kematian” → untuk operasi Baca (Get Many)\n- “Kemaskini Kematian” → untuk operasi Kemas Kini (Update)\n- “Padam Kematian” → untuk operasi Padam (Delete)\n- Jika text yang mempunyai nama tapi tiada pemetaan gunakan pemetaan `Tambah Kematian`\n\nStruktur Jadual:\n- nama (Teks)\n- tarikh_lahir (Tarikh)\n- tarikh_kematian (Tarikh)\n- hari_kematian (Gunakan tool `Cari Hari Kematian` menggunakan input tarikh_kematian)\n- masa_kematian (Masa)\n- kampung (Teks)\n\nOutput:\n- Label yang tidak mempunyai nilai tidak perlu dikeluarkan.\n\nTatacara Operasi:\n\n1. **Cipta (Tambah Kematian)**\n   - Gunakan node “Tambah Kematian” dengan operasi “Insert”.\n   - Medan wajib: `nama`, `kampung`, `tarikh_kematian`, `masa_kematian`.\n   - Gunakan tool `Cari Hari Kematian` untuk mendapatkan hari_kematian dengan menggunakan tarikh_kematian dalam format YYYY-mm-dd.\n   - Format tarikh: `YYYY-MM-DD`, format masa: `HH:mm` atau `HH:mm:ss`.\n   - Contoh data:\n     {\n       \"nama\": \"Haji Ahmad bin Ali\",\n       \"tarikh_lahir\": \"1945-03-12\",\n       \"tarikh_kematian\": \"2024-10-10\",\n       \"masa_kematian\": \"22:15\",\n       \"kampung\": \"Kampung Baru\"\n     }\n\n2. **Baca (Senarai Kematian)**\n   - Gunakan node “Senarai Kematian” dengan operasi “Get Many”.\n   - Boleh tapis berdasarkan nama, kampung, tarikh_kematian, atau masa_kematian.\n   - Contoh: “Senaraikan semua kematian di Kampung Baru pada 2024-10-10.”\n\n3. **Kemas Kini (Kemaskini Kematian)**\n   - Gunakan node “Kemaskini Kematian” dengan operasi “Update”.\n   - Pastikan ID atau rekod unik dikenal pasti sebelum kemas kini.\n   - Contoh:\n     “Kemas kini masa kematian Haji Ahmad bin Ali kepada 22:45 pada 2024-10-10.”\n\n4. **Padam (Padam Kematian)**\n   - Gunakan node “Padam Kematian” dengan operasi “Delete”.\n   - Contoh: “Padam rekod kematian Haji Ahmad bin Ali dari Kampung Baru.”\n\nPeraturan Umum:\n- Semua input dan output dalam format JSON.\n- Format tarikh output : `dd-mm-YYYY`, format masa output: `h:mmA`.\n- Jangan ubah jadual atau lajur lain.\n\nContoh Dialog:\nPengguna: “Tambah kematian baharu — Haji Ismail bin Abu, lahir 1948-06-20, tarikh kematian 2024-10-11 jam 05:30, kampung Kampung Tengah.”\n→ Tindakan: Gunakan node “Tambah Kematian”.\n\nPengguna: “Tunjukkan semua kematian pada 2024-10-11.”\n→ Tindakan: Gunakan node “Senarai Kematian”.\n\nPengguna: “Kemas kini masa kematian Haji Ismail kepada 06:00.”\n→ Tindakan: Gunakan node “Kemaskini Kematian”.\n\nPengguna: “Padam rekod kematian Haji Ismail dari Kampung Tengah.”\n→ Tindakan: Gunakan node “Padam Kematian”."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1200,
        688
      ],
      "id": "b1f203db-28d3-4b91-8dd1-ada6626150d8",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1088,
        896
      ],
      "id": "c535c48a-12d8-4c06-95b1-483e847db47a",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "fVROc60J7L6j0kn5",
          "name": "Ai Sumapod"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "219b10b6-eaf0-4a67-856e-4082cee87d4f",
                    "leftValue": "={{ $('WAHA Trigger').item.json.payload.body }}",
                    "rightValue": "/help",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Help"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('WAHA Trigger').item.json.payload.body }}",
                    "rightValue": "/kematian",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "26e8b157-3c9e-4535-a810-1242b9a4d1a5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Kematian"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        784,
        672
      ],
      "id": "20d9b051-0bb4-48dd-9817-8dad847d8221",
      "name": "Switch4"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('var').item.json.session }}",
        "chatId": "={{ $('var').item.json.from }}",
        "text": "=help",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1568,
        512
      ],
      "id": "54664819-7ea9-44e4-98f0-ac1909d25a3e",
      "name": "Send a text message8",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('var').item.json.session }}",
        "chatId": "={{ $('var').item.json.from}}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1104,
        512
      ],
      "id": "e0fc7529-ef4d-4829-a289-a8d80395987d",
      "name": "Start Typing6",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random()*3,1) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1248,
        512
      ],
      "id": "6b036b49-5cb0-43c4-b78c-a0b3f2a18625",
      "name": "Wait7",
      "webhookId": "3b24a82b-7471-433c-baa0-10bbe1fbacd9"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Stop Typing",
        "session": "={{ $('var').item.json.session }}",
        "chatId": "={{ $('var').item.json.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1392,
        512
      ],
      "id": "bcb689bf-b01f-4296-9dec-ce72a5c6032d",
      "name": "Stop Typing6",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "shukrisenawi",
    "name": "n8n_backup"
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kuala_Lumpur",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 1,
    "errorWorkflow": "X3z9DFNcd6pygcaS"
  },
  "shared": [
    {
      "updatedAt": "2025-08-17T02:58:38.980Z",
      "createdAt": "2025-08-17T02:58:38.980Z",
      "role": "workflow:owner",
      "workflowId": "Av2FdQGNcmYVEJkG",
      "projectId": "xIwyQZxho25VDDOK"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-09-06T03:02:41.200Z",
      "createdAt": "2025-09-06T03:02:41.200Z",
      "id": "3uWBdzMEdI5rmz0n",
      "name": "project"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-14T07:27:09.000Z",
  "versionId": "8b032243-2b2f-4c99-96da-10c3fa45e079"
}