BZGzqsFzxDKbBGSv.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-22T06:35:50.005Z",
  "id": "BZGzqsFzxDKbBGSv",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Test",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -500,
        -60
      ],
      "id": "bf5bf668-e1cd-455c-a462-1699ad711cc9",
      "name": "When chat message received",
      "webhookId": "618f5eb6-8269-4ea4-b3a3-f59d26ce06d1"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "test\n{\"hari\": \"...\", \"minggu\": ..., \"tarikh\": \"...\", \"mesej\":mesej respon}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -280,
        -60
      ],
      "id": "05bfc445-807d-4498-83fb-da1d23846185",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = $fromAI('hari');\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -60
      ],
      "id": "82bb676a-6943-4f4b-aeff-39fc214458a7",
      "name": "Code"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -300,
        140
      ],
      "id": "f2511493-88d0-40ef-a350-8e98b8afd8c9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qrIOqk9261OK3B5K",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "databaseName": "mieayam7140_JamuAsli"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        -200,
        140
      ],
      "id": "4f89734d-3976-4e06-8725-bbd9c2119633",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "IqR2txMNB7MReG93",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"hari\": \"...\",\n  \"minggu\":\"\",\n  \"tarikh\": \"...\",\n  \"komen\":\"hi apa khabar\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -20,
        160
      ],
      "id": "eecb5358-e908-45b7-91dc-6bb0bca7e020",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        60,
        380
      ],
      "id": "205a5a5b-e965-4f10-b2eb-7c03e3e5d540",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "qrIOqk9261OK3B5K",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "shukrisenawi",
    "name": "n8n_backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-08-22T06:35:50.009Z",
      "createdAt": "2025-08-22T06:35:50.009Z",
      "role": "workflow:owner",
      "workflowId": "BZGzqsFzxDKbBGSv",
      "projectId": "xIwyQZxho25VDDOK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-08-27T04:45:30.000Z",
  "versionId": "9223f913-220f-4411-9d78-825a5f77a47a"
}