EDeqxT5oqW0k5Irk.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-11-27T14:14:23.304Z",
    "createdAt": "2025-11-27T14:14:23.304Z",
    "versionId": "6bf4d702-3235-4bfc-b569-ba634b3afd47",
    "workflowId": "EDeqxT5oqW0k5Irk",
    "nodes": [
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "id": "f96920fa-5753-4d06-8ebc-9e48ac6753b5",
        "name": "Aggregate1",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -64,
          400
        ]
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "concatenate",
                "field": "data"
              }
            ]
          },
          "options": {}
        },
        "id": "22b13000-c821-4767-8dd7-0cf286bd7d17",
        "name": "Summarize1",
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1,
        "position": [
          128,
          400
        ]
      },
      {
        "parameters": {
          "operation": "pdf",
          "options": {}
        },
        "id": "42279cfc-7651-4153-a1a5-f1a8f6e66a95",
        "name": "Extract PDF Text",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          -272,
          64
        ]
      },
      {
        "parameters": {
          "operation": "xlsx",
          "options": {}
        },
        "id": "08ba4d48-7c5d-4a14-bbf9-141eb975bfa7",
        "name": "Extract from Excel",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          -272,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Set File ID1').item.json.file_id }}/copy",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleDriveOAuth2Api",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "name",
                "value": "={{ $('Set File ID1').item.json.name }}"
              },
              {
                "name": "mimeType",
                "value": "application/vnd.google-apps.document"
              }
            ]
          },
          "options": {}
        },
        "id": "a64ae800-37cb-48c7-929f-6586c12ac145",
        "name": "Convert to Google Doc1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -272,
          576
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "oPQYKjKMXIDbcxN6",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "deleteFile",
          "fileId": {
            "__rl": true,
            "value": "={{ $('Set File ID1').item.json.file_id }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -64,
          576
        ],
        "id": "46a4bf5e-7149-4122-aee2-eb7912b8f12f",
        "name": "Delete File",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "C3mKdKMyyqUTo37x",
            "name": "Whisk"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
                "name": "file_id",
                "value": "={{ $('File Created').item.json.id }}",
                "type": "string"
              },
              {
                "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
                "name": "file_type",
                "value": "={{ $('File Created').item.json.mimeType }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "6276f8b0-4cd4-43fe-8576-fb4fa12a378a",
        "name": "Set File ID1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1568,
          368
        ]
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $('Set File ID1').item.json.file_id }}",
            "mode": "id"
          },
          "options": {
            "googleFileConversion": {
              "conversion": {
                "docsToFormat": "text/plain"
              }
            }
          }
        },
        "id": "b247ff9d-292c-458e-a415-dd52c6692503",
        "name": "Download File1",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -1248,
          528
        ],
        "executeOnce": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "C3mKdKMyyqUTo37x",
            "name": "Whisk"
          }
        }
      },
      {
        "parameters": {
          "chunkSize": 2000,
          "chunkOverlap": 200,
          "options": {
            "splitCode": "markdown"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
        "typeVersion": 1,
        "position": [
          592,
          448
        ],
        "id": "937d698b-6373-429b-a65f-76b5e1f841e8",
        "name": "Recursive Character Text Splitter"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.1,
        "position": [
          352,
          384
        ],
        "id": "535490ac-4e51-4033-ae89-4d23b80323db",
        "name": "Embeddings OpenAI1",
        "credentials": {
          "openAiApi": {
            "id": "fVROc60J7L6j0kn5",
            "name": "Ai Sumapod"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -1408,
          368
        ],
        "id": "3f31b1e0-660d-42c5-9cf0-845928dad5da",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "jsonMode": "expressionData",
          "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "=file_id",
                  "value": "={{ $('Set File ID1').item.json.file_id }}"
                },
                {
                  "name": "=version",
                  "value": "v1"
                },
                {
                  "name": "=creator",
                  "value": "={{ $('File Created').item.json.owners[0].displayName }}"
                },
                {
                  "name": "=created_at",
                  "value": "={{ $('File Created').item.json.createdTime }}"
                },
                {
                  "name": "last_modified",
                  "value": "={{ $('File Created').item.json.modifiedTime }}"
                },
                {
                  "name": "folder_path",
                  "value": "DOCUMENTS"
                },
                {
                  "name": "file_name",
                  "value": "={{ $('File Created').item.json.name }}"
                },
                {
                  "name": "file_extension",
                  "value": "={{ $('File Created').item.json.mimeType }}"
                }
              ]
            }
          }
        },
        "id": "4174260f-365a-4cd3-ba5e-311faf4e538e",
        "name": "Enhanced Default Data Loader1",
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1,
        "position": [
          512,
          288
        ]
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1sZ0Z0IyzvZmUJu1qnv8zwYX1OpmHyk0O",
            "mode": "list",
            "cachedResultName": "Data RAG",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1sZ0Z0IyzvZmUJu1qnv8zwYX1OpmHyk0O"
          },
          "event": "fileCreated",
          "options": {}
        },
        "id": "ee0354fe-dbe6-4961-9eb4-dd76b427d6e1",
        "name": "File Created",
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          -1776,
          368
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "C3mKdKMyyqUTo37x",
            "name": "Whisk"
          }
        }
      },
      {
        "parameters": {
          "operation": "text",
          "options": {}
        },
        "id": "39e672a0-2d57-40d2-b302-9ba0e5d2dcc8",
        "name": "Extract from Text File",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          -272,
          224
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Set File ID1').item.json.file_type }}",
                      "rightValue": "application/pdf",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "PDF"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                      "leftValue": "={{ $('Set File ID1').item.json.file_type }}",
                      "rightValue": "application/vnd.google-apps.document",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Text File"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "id": "2ae7faa7-a936-4621-a680-60c512163034",
                      "leftValue": "={{ $('Set File ID1').item.json.file_type }}",
                      "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Excel"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "id": "7ddfa924-1c26-4ee3-9890-5c9d2b96717a",
                      "leftValue": "={{ $('Set File ID1').item.json.file_type }}",
                      "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Windows Doc(1)"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "id": "f53caf8b-7a8f-4d1e-98f4-deaf0e0171f0",
                      "leftValue": "={{ $('Set File ID1').item.json.file_type }}",
                      "rightValue": "application/msword",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Windows Doc(2)"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "id": "cd9ca627-d00d-4c30-903a-41f603c8e36f",
                      "leftValue": "={{ $('Set File ID1').item.json.file_type }}",
                      "rightValue": "application/vnd.ms-word",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Windows Doc(3)"
              }
            ]
          },
          "options": {
            "fallbackOutput": 2
          }
        },
        "id": "1f61f481-44f9-44c6-8acd-9878ad3fd7d1",
        "name": "Switch2",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          -848,
          288
        ]
      },
      {
        "parameters": {
          "mode": "insert",
          "tableName": {
            "__rl": true,
            "value": "=documents",
            "mode": "id"
          },
          "options": {
            "queryName": "match_documents"
          }
        },
        "id": "490148b6-67fc-4709-b1fa-c4b8d1e07686",
        "name": "Insert into Supabase Vectorstore1",
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1,
        "position": [
          336,
          80
        ],
        "credentials": {
          "supabaseApi": {
            "id": "Ehjs6dRtJNVzHK8N",
            "name": "Supabase account"
          }
        }
      }
    ],
    "connections": {
      "Aggregate1": {
        "main": [
          [
            {
              "node": "Summarize1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize1": {
        "main": [
          [
            {
              "node": "Insert into Supabase Vectorstore1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract PDF Text": {
        "main": [
          [
            {
              "node": "Insert into Supabase Vectorstore1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from Excel": {
        "main": [
          [
            {
              "node": "Aggregate1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to Google Doc1": {
        "main": [
          [
            {
              "node": "Delete File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set File ID1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download File1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Recursive Character Text Splitter": {
        "ai_textSplitter": [
          [
            {
              "node": "Enhanced Default Data Loader1",
              "type": "ai_textSplitter",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI1": {
        "ai_embedding": [
          [
            {
              "node": "Insert into Supabase Vectorstore1",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Switch2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Download File1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enhanced Default Data Loader1": {
        "ai_document": [
          [
            {
              "node": "Insert into Supabase Vectorstore1",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "File Created": {
        "main": [
          [
            {
              "node": "Set File ID1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from Text File": {
        "main": [
          [
            {
              "node": "Insert into Supabase Vectorstore1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch2": {
        "main": [
          [
            {
              "node": "Extract PDF Text",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract from Text File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract from Excel",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Convert to Google Doc1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Convert to Google Doc1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Convert to Google Doc1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "activeVersionId": "6bf4d702-3235-4bfc-b569-ba634b3afd47",
  "connections": {
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Summarize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize1": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Google Doc1": {
      "main": [
        [
          {
            "node": "Delete File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Enhanced Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Set File ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Text File": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Text File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-05T04:47:11.304Z",
  "id": "EDeqxT5oqW0k5Irk",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "MASJID AL-HALIMI - RAG Upload",
  "nodes": [
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "f96920fa-5753-4d06-8ebc-9e48ac6753b5",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -64,
        400
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "22b13000-c821-4767-8dd7-0cf286bd7d17",
      "name": "Summarize1",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        128,
        400
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "42279cfc-7651-4153-a1a5-f1a8f6e66a95",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -272,
        64
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "08ba4d48-7c5d-4a14-bbf9-141eb975bfa7",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -272,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Set File ID1').item.json.file_id }}/copy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Set File ID1').item.json.name }}"
            },
            {
              "name": "mimeType",
              "value": "application/vnd.google-apps.document"
            }
          ]
        },
        "options": {}
      },
      "id": "a64ae800-37cb-48c7-929f-6586c12ac145",
      "name": "Convert to Google Doc1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -272,
        576
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oPQYKjKMXIDbcxN6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID1').item.json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -64,
        576
      ],
      "id": "46a4bf5e-7149-4122-aee2-eb7912b8f12f",
      "name": "Delete File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C3mKdKMyyqUTo37x",
          "name": "Whisk"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $('File Created').item.json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $('File Created').item.json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6276f8b0-4cd4-43fe-8576-fb4fa12a378a",
      "name": "Set File ID1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1568,
        368
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID1').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "b247ff9d-292c-458e-a415-dd52c6692503",
      "name": "Download File1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1248,
        528
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C3mKdKMyyqUTo37x",
          "name": "Whisk"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 200,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        592,
        448
      ],
      "id": "937d698b-6373-429b-a65f-76b5e1f841e8",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        352,
        384
      ],
      "id": "535490ac-4e51-4033-ae89-4d23b80323db",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "fVROc60J7L6j0kn5",
          "name": "Ai Sumapod"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1408,
        368
      ],
      "id": "3f31b1e0-660d-42c5-9cf0-845928dad5da",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID1').item.json.file_id }}"
              },
              {
                "name": "=version",
                "value": "v1"
              },
              {
                "name": "=creator",
                "value": "={{ $('File Created').item.json.owners[0].displayName }}"
              },
              {
                "name": "=created_at",
                "value": "={{ $('File Created').item.json.createdTime }}"
              },
              {
                "name": "last_modified",
                "value": "={{ $('File Created').item.json.modifiedTime }}"
              },
              {
                "name": "folder_path",
                "value": "DOCUMENTS"
              },
              {
                "name": "file_name",
                "value": "={{ $('File Created').item.json.name }}"
              },
              {
                "name": "file_extension",
                "value": "={{ $('File Created').item.json.mimeType }}"
              }
            ]
          }
        }
      },
      "id": "4174260f-365a-4cd3-ba5e-311faf4e538e",
      "name": "Enhanced Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        512,
        288
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1sZ0Z0IyzvZmUJu1qnv8zwYX1OpmHyk0O",
          "mode": "list",
          "cachedResultName": "Data RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1sZ0Z0IyzvZmUJu1qnv8zwYX1OpmHyk0O"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "ee0354fe-dbe6-4961-9eb4-dd76b427d6e1",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1776,
        368
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C3mKdKMyyqUTo37x",
          "name": "Whisk"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "39e672a0-2d57-40d2-b302-9ba0e5d2dcc8",
      "name": "Extract from Text File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -272,
        224
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set File ID1').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $('Set File ID1').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text File"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $('Set File ID1').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7ddfa924-1c26-4ee3-9890-5c9d2b96717a",
                    "leftValue": "={{ $('Set File ID1').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(1)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f53caf8b-7a8f-4d1e-98f4-deaf0e0171f0",
                    "leftValue": "={{ $('Set File ID1').item.json.file_type }}",
                    "rightValue": "application/msword",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(2)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cd9ca627-d00d-4c30-903a-41f603c8e36f",
                    "leftValue": "={{ $('Set File ID1').item.json.file_type }}",
                    "rightValue": "application/vnd.ms-word",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(3)"
            }
          ]
        },
        "options": {
          "fallbackOutput": 2
        }
      },
      "id": "1f61f481-44f9-44c6-8acd-9878ad3fd7d1",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -848,
        288
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "=documents",
          "mode": "id"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "490148b6-67fc-4709-b1fa-c4b8d1e07686",
      "name": "Insert into Supabase Vectorstore1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        336,
        80
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Ehjs6dRtJNVzHK8N",
          "name": "Supabase account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "shukrisenawi",
    "name": "n8n_backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-05T04:47:11.307Z",
      "createdAt": "2025-10-05T04:47:11.307Z",
      "role": "workflow:owner",
      "workflowId": "EDeqxT5oqW0k5Irk",
      "projectId": "xIwyQZxho25VDDOK"
    }
  ],
  "staticData": {
    "node:File Created": {
      "lastTimeChecked": "2025-11-27T14:14:30Z"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-10T07:07:42.000Z",
  "versionId": "6bf4d702-3235-4bfc-b569-ba634b3afd47"
}