fOPqAHMntu1RhQ0y.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-17T15:22:57.000Z",
    "createdAt": "2025-12-17T15:22:51.246Z",
    "versionId": "dd2d4bbe-8a9f-4928-a704-defdc222b917",
    "workflowId": "fOPqAHMntu1RhQ0y",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "messages"
          ],
          "options": {}
        },
        "type": "n8n-nodes-base.whatsAppTrigger",
        "typeVersion": 1,
        "position": [
          -992,
          208
        ],
        "id": "d6fc22f3-82bc-46b0-9531-cdc5d271236c",
        "name": "WhatsApp Trigger",
        "webhookId": "6201bb22-4a7e-43f8-8947-34c43c3ea64d",
        "credentials": {
          "whatsAppTriggerApi": {
            "id": "8ifK87RwIwvOn2OL",
            "name": "WhatsApp OAuth account"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "834873836387138",
          "recipientPhoneNumber": "={{ $json.messages[0].from }}",
          "textBody": "Maaf no hp ini hanya digunakan oleh sistem..\n\nNo hp admin stickertermurah ialah : 011-6940 9606\n\nKlik link di bawah untuk mesej terus kepada admin:\nhttps://wa.me/601169409606\n\nTerima kasih.",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          -560,
          208
        ],
        "id": "2118cae4-9af0-458c-9e7c-4061dd74fbbc",
        "name": "Send message",
        "webhookId": "3843e01f-c424-484c-8d8c-b2f150401153",
        "credentials": {
          "whatsAppApi": {
            "id": "zg5MiptRKPlRyuk3",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://graph.facebook.com/v22.0/834873836387138/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer EAAVrW2NFPZBcBQKZBIifnvkGf8sWFHDYtuWlKL7kF2WVCAOoEPgO11hnwidsIsNxcos3rjRZCXqWFL5AlZC83NpsfqFEDl7ZBJtCaUcGhAiE9nD3f8fPZBixiaC7EoQR2FZBZBZB3d512cHk2pRgnZCzUABQjF5RCSikZCuyO3pBZCQBBY0BxhneB52MO9MAYceFd8QcXQZDZD"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json['No Hp'] }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"ganti_no_baru\",\n    \"language\": {\n      \"code\": \"en\"\n    },\n    \"components\": [\n      {\n        \"type\": \"header\",\n        \"parameters\": [\n          {\n            \"type\": \"image\",\n            \"image\": {\n              \"link\": \"https://drive.google.com/uc?export=view&id=1BDZHoyTnw2z9S091246-k--zlOq0gRLa\"\n            }\n          }\n        ]\n      }\n    ]\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -160,
          -64
        ],
        "id": "067edac9-fb2c-45de-98b2-fb5ab5751d45",
        "name": "HTTP Request"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -976,
          -80
        ],
        "id": "4a9155b5-4253-41d0-b7d4-084c2beff5b4",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1nYbg4hePo9LcDXn-vovS1E8C9AdYpT5wmzVm-MkTRM8",
            "mode": "list",
            "cachedResultName": "customer",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYbg4hePo9LcDXn-vovS1E8C9AdYpT5wmzVm-MkTRM8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYbg4hePo9LcDXn-vovS1E8C9AdYpT5wmzVm-MkTRM8/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Sent",
                "lookupValue": "0"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -784,
          -80
        ],
        "id": "3f743c51-77d1-41c4-85df-7c1c69caba57",
        "name": "Get Contact List",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "U0ZMoxWRU8t5JEF5",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "compare": "selectedFields",
          "fieldsToCompare": "Nama",
          "options": {}
        },
        "type": "n8n-nodes-base.removeDuplicates",
        "typeVersion": 2,
        "position": [
          -608,
          -80
        ],
        "id": "d10f2e82-949c-45b9-a995-92a448196077",
        "name": "Remove Duplicates"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -400,
          -80
        ],
        "id": "858948a9-ef24-4cc5-b79f-0ee26fcb5152",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1nYbg4hePo9LcDXn-vovS1E8C9AdYpT5wmzVm-MkTRM8",
            "mode": "list",
            "cachedResultName": "customer",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYbg4hePo9LcDXn-vovS1E8C9AdYpT5wmzVm-MkTRM8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYbg4hePo9LcDXn-vovS1E8C9AdYpT5wmzVm-MkTRM8/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Sent": "1",
              "row_number": "={{ $('Get Contact List').item.json.row_number }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "Nama",
                "displayName": "Nama",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Hari",
                "displayName": "Hari",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Bulan",
                "displayName": "Bulan",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Tahun",
                "displayName": "Tahun",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "No Hp",
                "displayName": "No Hp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Sent",
                "displayName": "Sent",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          0,
          -64
        ],
        "id": "93e76c14-df6d-42c8-aef2-2930a3af61b5",
        "name": "Update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "U0ZMoxWRU8t5JEF5",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "amount": 2
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          208,
          -64
        ],
        "id": "66ede9f3-28b9-45a1-9c55-ea2c897ebde4",
        "name": "Wait",
        "webhookId": "8970ca28-89fc-4208-97d6-85e2f0dd269a"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "ee7fcfec-4e6c-49db-9dbb-05c4ac839699",
                "leftValue": "={{ $json.messages[0].text.body }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -800,
          208
        ],
        "id": "40066243-8531-4764-90a0-8de8a1004d62",
        "name": "If"
      }
    ],
    "connections": {
      "WhatsApp Trigger": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send message": {
        "main": [
          []
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Get Contact List",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Contact List": {
        "main": [
          [
            {
              "node": "Remove Duplicates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove Duplicates": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update row in sheet": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Send message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Mohamad Shukri Senawi",
    "name": "Version dd2d4bbe",
    "description": ""
  },
  "activeVersionId": "dd2d4bbe-8a9f-4928-a704-defdc222b917",
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Contact List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact List": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-10T15:59:27.074Z",
  "id": "fOPqAHMntu1RhQ0y",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "STICKERTERMURAH - Whatsapp Official",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -992,
        208
      ],
      "id": "d6fc22f3-82bc-46b0-9531-cdc5d271236c",
      "name": "WhatsApp Trigger",
      "webhookId": "6201bb22-4a7e-43f8-8947-34c43c3ea64d",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "8ifK87RwIwvOn2OL",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "834873836387138",
        "recipientPhoneNumber": "={{ $json.messages[0].from }}",
        "textBody": "Maaf no hp ini hanya digunakan oleh sistem..\n\nNo hp admin stickertermurah ialah : 011-6940 9606\n\nKlik link di bawah untuk mesej terus kepada admin:\nhttps://wa.me/601169409606\n\nTerima kasih.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -560,
        208
      ],
      "id": "2118cae4-9af0-458c-9e7c-4061dd74fbbc",
      "name": "Send message",
      "webhookId": "3843e01f-c424-484c-8d8c-b2f150401153",
      "credentials": {
        "whatsAppApi": {
          "id": "zg5MiptRKPlRyuk3",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/834873836387138/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAVrW2NFPZBcBQKZBIifnvkGf8sWFHDYtuWlKL7kF2WVCAOoEPgO11hnwidsIsNxcos3rjRZCXqWFL5AlZC83NpsfqFEDl7ZBJtCaUcGhAiE9nD3f8fPZBixiaC7EoQR2FZBZBZB3d512cHk2pRgnZCzUABQjF5RCSikZCuyO3pBZCQBBY0BxhneB52MO9MAYceFd8QcXQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json['No Hp'] }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"ganti_no_baru\",\n    \"language\": {\n      \"code\": \"en\"\n    },\n    \"components\": [\n      {\n        \"type\": \"header\",\n        \"parameters\": [\n          {\n            \"type\": \"image\",\n            \"image\": {\n              \"link\": \"https://drive.google.com/uc?export=view&id=1BDZHoyTnw2z9S091246-k--zlOq0gRLa\"\n            }\n          }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -160,
        -64
      ],
      "id": "067edac9-fb2c-45de-98b2-fb5ab5751d45",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -976,
        -80
      ],
      "id": "4a9155b5-4253-41d0-b7d4-084c2beff5b4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nYbg4hePo9LcDXn-vovS1E8C9AdYpT5wmzVm-MkTRM8",
          "mode": "list",
          "cachedResultName": "customer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYbg4hePo9LcDXn-vovS1E8C9AdYpT5wmzVm-MkTRM8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYbg4hePo9LcDXn-vovS1E8C9AdYpT5wmzVm-MkTRM8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Sent",
              "lookupValue": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -784,
        -80
      ],
      "id": "3f743c51-77d1-41c4-85df-7c1c69caba57",
      "name": "Get Contact List",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U0ZMoxWRU8t5JEF5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "Nama",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -608,
        -80
      ],
      "id": "d10f2e82-949c-45b9-a995-92a448196077",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -400,
        -80
      ],
      "id": "858948a9-ef24-4cc5-b79f-0ee26fcb5152",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nYbg4hePo9LcDXn-vovS1E8C9AdYpT5wmzVm-MkTRM8",
          "mode": "list",
          "cachedResultName": "customer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYbg4hePo9LcDXn-vovS1E8C9AdYpT5wmzVm-MkTRM8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYbg4hePo9LcDXn-vovS1E8C9AdYpT5wmzVm-MkTRM8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sent": "1",
            "row_number": "={{ $('Get Contact List').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Nama",
              "displayName": "Nama",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hari",
              "displayName": "Hari",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Bulan",
              "displayName": "Bulan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tahun",
              "displayName": "Tahun",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "No Hp",
              "displayName": "No Hp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Sent",
              "displayName": "Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        -64
      ],
      "id": "93e76c14-df6d-42c8-aef2-2930a3af61b5",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U0ZMoxWRU8t5JEF5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        208,
        -64
      ],
      "id": "66ede9f3-28b9-45a1-9c55-ea2c897ebde4",
      "name": "Wait",
      "webhookId": "8970ca28-89fc-4208-97d6-85e2f0dd269a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ee7fcfec-4e6c-49db-9dbb-05c4ac839699",
              "leftValue": "={{ $json.messages[0].text.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -800,
        208
      ],
      "id": "40066243-8531-4764-90a0-8de8a1004d62",
      "name": "If"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "shukrisenawi",
    "name": "n8n_backup"
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kuala_Lumpur",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "X3z9DFNcd6pygcaS",
    "timeSavedPerExecution": 1
  },
  "shared": [
    {
      "updatedAt": "2025-12-10T15:59:27.080Z",
      "createdAt": "2025-12-10T15:59:27.080Z",
      "role": "workflow:owner",
      "workflowId": "fOPqAHMntu1RhQ0y",
      "projectId": "xIwyQZxho25VDDOK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-17T15:22:51.246Z",
  "versionId": "dd2d4bbe-8a9f-4928-a704-defdc222b917"
}