JACuERqBEkFWgSs5.json
{
  "active": true,
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Cari Pengumuman",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarikh Sekarang": {
      "main": [
        [
          {
            "node": "Cari Pengajian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Var": {
      "main": [
        [
          {
            "node": "Tarikh Sekarang",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Groups": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "pecahkan mesej",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an image": {
      "main": [
        [
          {
            "node": "pecahkan mesej",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Typing": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "pecahkan mesej",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Stop Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asingkan label dan link": {
      "main": [
        [
          {
            "node": "Send an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jika gambar": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asingkan text biasa dengan gambar": {
      "main": [
        [
          {
            "node": "Jika gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pecahkan mesej": {
      "main": [
        [],
        [
          {
            "node": "Asingkan text biasa dengan gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarikh Sekarang1": {
      "main": [
        [
          {
            "node": "Cari Kitab",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "output message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "output message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "output message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "All Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kitab Minhajul `Abidin": {
      "main": [
        [
          {
            "node": "Tarikh Sekarang1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sedekah Subuh": {
      "main": [
        [
          {
            "node": "Var",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Senarai Pengumuman": {
      "main": [
        [
          {
            "node": "Cari Hadis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Senarai Pengumuman",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Hadis Selected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hadis Selected": {
      "main": [
        [
          {
            "node": "Cari Waktu Solat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cari Pengajian": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cari Pengumuman": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cari Hadis": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cari Waktu Solat": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cari Kitab": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarikh Sekarang2": {
      "main": [
        [
          {
            "node": "Cari Kitab2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cari Kitab4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "output message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cari Kitab2": {
      "main": [
        [
          {
            "node": "Tarikh Pengajian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarikh Sekarang3": {
      "main": [
        [
          {
            "node": "Cari Kitab3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cari Kitab5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cari Kitab3": {
      "main": [
        [
          {
            "node": "Tarikh Pengajian4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarikh Pengajian": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarikh Pengajian1": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cari Kitab4": {
      "main": [
        [
          {
            "node": "Tarikh Pengajian2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code9": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code10": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cari Kitab5": {
      "main": [
        [
          {
            "node": "Tarikh Pengajian5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarikh Pengajian2": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarikh Pengajian3": {
      "main": [
        [
          {
            "node": "Code10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pengajian Luar": {
      "main": [
        [
          {
            "node": "Tarikh Sekarang2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tarikh Sekarang3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarikh Pengajian4": {
      "main": [
        [
          {
            "node": "Tarikh Pengajian1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarikh Pengajian5": {
      "main": [
        [
          {
            "node": "Tarikh Pengajian3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Asingkan label dan link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Exists": {
      "main": [
        [
          {
            "node": "Jika Mesej sama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate4": {
      "main": [
        [
          {
            "node": "Check Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mesej Terbaru": {
      "main": [
        [
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jika Mesej sama": {
      "main": [
        [],
        []
      ]
    }
  },
  "createdAt": "2025-09-25T09:01:27.214Z",
  "id": "JACuERqBEkFWgSs5",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "MASJID AL-HALIMI - Post Group",
  "nodes": [
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1424,
        -144
      ],
      "id": "e7660262-f10f-4362-942e-1c23763320ed",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "function replaceDateHijrah(dateHijrah){\n  const parts = dateHijrah.split(\"-\");\n  const bulan = parts[1];\n  const bulanMap = {\n    \"Muh\": \"Muharram\",\n    \"Saf\": \"Safar\",\n    \"Raw\": \"Rabiulawal\",\n    \"Rak\": \"Rabiulakhir\",\n    \"Jaw\": \"Jamadilawal\",\n    \"Jak\": \"Jamadilakhir\",\n    \"Rej\": \"Rejab\",\n    \"Syb\": \"Syaaban\",\n    \"Ram\": \"Ramadan\",\n    \"Syw\": \"Syawal\",\n    \"Zkh\": \"Zulkaedah\",\n    \"Zhj\": \"Zulhijjah\"\n  };\n  \n  let bulanBaru = bulanMap[bulan] || bulan;\n  \n  return parts[0]+\" \"+bulanBaru+\" \"+parts[2]+\"H\";  \n}\n\nconst tarikh = \"--- *MASJID AL-HALIMI BATU 5* ---\\n--- *\"+$input.first().json.hari+\", \"+$('Tarikh Sekarang').first().json.tarikh_format+\" / \"+replaceDateHijrah($input.first().json.tarikh_hijrah)+\"* ---\\n\\n\";\n\nconst solat = \"** *WAKTU SOLAT* ** \\n\\n - *Subuh*: \"+$input.first().json.subuh+\"\\n - *Zohor*: \"+$input.first().json.zohor+\"\\n - *Asar*: \"+$input.first().json.asar+\"\\n - *Maghrib*: \"+$input.first().json.maghrib+\"\\n - *Isyak*: \"+$input.first().json.isyak;\n\nlet pengajian =\"\";\n\nfor (const data of $('Aggregate').first().json.data) {\n  \n  pengajian += \"\\n\";\n  \n  if(data.kitab!=\"Surah Yaasin\"){\n    if(data.pengajar){\n      pengajian += \"*Pengajar :* \"+data.pengajar+\"\\n\"+\"*Kitab :* \"+data.kitab+\"\\n\"+\"*Masa :* \"+data.masa+\"\\n\"; \n    }else{\n      pengajian +=\"--- Tiada Pengajian ---\\n\";\n    }\n    \n  }else{\n    \n    pengajian += \"*Program :* Bacaan Surah Yaasin\\n\"+\"*Masa :* \"+data.masa+\"\\n\"; \n    \n  }    \n\n  if(data.tempat && data.tempat!=\"Masjid Al-Halimi Batu 5\")\n  pengajian += \"*Tempat :* \"+data.tempat+\"\\n\";\n  \n  if(data.live=='Ya')\n    pengajian += \"*Live Facebook :* Masjid Al-Halimi Batu 5\\n\";\n  \n  \n  if(data.active==\"Tidak\"){   \n    pengajian += \"*Pengajian : DIBATALKAN*\\n\"\n  }\n}\n\nconst pengumuman = $('Senarai Pengumuman').first().json.pengumuman;\nconst hadis = $('Hadis Selected').first().json.hadis;\n\nconst gambar = \"https://n8n.multivita2u.com/upload/gambar/VKHsB6uXNsiOht5VIxeqElbMjGcCkkLaABpqqu1m.png<br>\";\n\nfor (const item of $input.all()) {\n  if(pengajian=='')\n    item.json.message_jadual = gambar+tarikh+solat+pengumuman+hadis;\n  else\n    item.json.message_jadual = gambar+tarikh+solat+\"\\n\\n** *PENGAJIAN KITAB* **\\n\"+pengajian+pengumuman+hadis;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -144
      ],
      "id": "0f3d8580-0c36-4eae-8d8a-d0d7d9aac548",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\n\n// Format YYYY-MM-DD\nlet tarikh = now.toISOString().split(\"T\")[0];\nconst options = { timeZone: \"Asia/Kuala_Lumpur\" };\nconst year = now.toLocaleString(\"en-GB\", { ...options, year: \"numeric\" });\nconst month = now.toLocaleString(\"en-GB\", { ...options, month: \"2-digit\" });\nconst day = now.toLocaleString(\"en-GB\", { ...options, day: \"2-digit\" });\n\nconst tarikh_format = `${day}-${month}-${year}`;\ntarikh =  `${year}-${month}-${day}`;\n\nreturn {\n  tarikh,\n  tarikh_format\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        64
      ],
      "id": "d4f0ed6d-aaff-4dc5-a21f-e79f5b8ea318",
      "name": "Tarikh Sekarang"
    },
    {
      "parameters": {
        "jsCode": "const input =$input.first().json.message;\n\n// Step 2: split ikut \\n\nlet lines = input.split(\"<br>\").map(x => x.trim()).filter(x => x !== \"\");\n\n// Return setiap baris jadi item berasingan\nreturn lines.map(line => ({ json: { line:line,group:$input.first().json.group } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        416
      ],
      "id": "eea4d1d7-7f9a-4d6f-ad58-be280d438f03",
      "name": "Code2"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  // item.json.sessionId = '60195168839@c.us';  \n  // item.json.group = '60195168839@c.us';\n  item.json.sessionId = 'masjid_session'; \n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        64
      ],
      "id": "aaaa1eb4-4c85-437f-94da-1b123cbcb282",
      "name": "Var"
    },
    {
      "parameters": {
        "jsCode": "let groups = ['120363421710384148@g.us','60195168839@c.us'];//group test\n\nif($input.first().json.group[0]=='default')\n  groups = ['60134507038-1525247606@g.us','60134693115-1476278350@g.us'];\nelse if($input.first().json.group[0])\n  groups = [$input.first().json.group[0]];\n\nreturn groups.map(group => ({ json: { group,message:$input.first().json.message[0] } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        112
      ],
      "id": "5ccc1989-dc72-4568-a1c8-fa0f4a1041d5",
      "name": "All Groups"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        736,
        112
      ],
      "id": "c75b77d1-2374-4bb5-9f52-3a2aa88fa0e5",
      "name": "Loop Over Items",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Image",
        "session": "={{ $('output message').first().json.sessionId[0] }}",
        "chatId": "={{ $('pecahkan mesej').item.json.group }}",
        "file": "={\n  \"mimetype\": \"image/jpeg\",\n  \"filename\": \"{{ $json.timestamp }}.png\",\n  \"url\": \"{{ $json.output[0] }}\"\n}",
        "caption": "={{ $json.output[1]?$json.output[0]:null }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1648,
        480
      ],
      "id": "4dfc7633-837b-4218-a620-6f82f59d2124",
      "name": "Send an image",
      "retryOnFail": false,
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Stop Typing",
        "session": "={{ $('output message').first().json.sessionId[0] }}",
        "chatId": "={{ $('Loop Over Items').item.json.group }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1568,
        736
      ],
      "id": "80133882-2145-439d-97ad-f2eb9485701e",
      "name": "Stop Typing",
      "retryOnFail": false,
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('output message').first().json.sessionId[0] }}",
        "chatId": "={{ $('pecahkan mesej').item.json.group }}",
        "text": "={{ $('Asingkan text biasa dengan gambar').item.json.text }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1728,
        736
      ],
      "id": "7fbdc944-26eb-45da-b934-db4fe75645ad",
      "name": "Send a text message",
      "retryOnFail": false,
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random()*5,1) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1408,
        736
      ],
      "id": "a58dba38-237b-4d50-910a-221bbc5db54c",
      "name": "Wait",
      "webhookId": "3b24a82b-7471-433c-baa0-10bbe1fbacd9"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('output message').first().json.sessionId[0] }}",
        "chatId": "={{ $('Loop Over Items').item.json.group }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1232,
        736
      ],
      "id": "ec651d11-b961-4984-88f6-cccd38e530ad",
      "name": "Start Typing",
      "retryOnFail": false,
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $('Asingkan text biasa dengan gambar').first().json.text;\nconst timestamp = Date.now(); // ambil masa sekarang dalam ms\n\n// Regex untuk detect pattern [Title](Link)\nconst regex = /\\[(.*?)\\]\\((.*?)\\)/;\n\nlet output = [];\n\nconst match = input.match(regex);\nif (match) {\n  output = [match[1], match[2]];\n} else {\n  output = [input];\n}\n\nreturn {\n  json: {\n    output,\n    timestamp\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        480
      ],
      "id": "d0e18b06-ffe5-42b7-a52e-7cf88d7d1ac5",
      "name": "Asingkan label dan link",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ffe53d1b-5b9e-4491-b831-eb8d967b0322",
              "leftValue": "={{ $('Asingkan text biasa dengan gambar').item.json.isImage }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1664,
        256
      ],
      "id": "4a435bf1-675b-45fb-a1c5-01a84448ae11",
      "name": "Jika gambar"
    },
    {
      "parameters": {
        "jsCode": "let lines = $input.first().json.line;\n\n// Kalau bukan array, tukar jadi array\nif (!Array.isArray(lines)) {\n  lines = [lines];\n}\n\n// Regex utk detect gambar\nconst imageRegex = /(https?:\\/\\/[^\\s]+(\\.jpg|\\.jpeg|\\.png|\\.gif|\\.webp)|https:\\/\\/drive\\.google\\.com\\/uc\\?id=[^)\\s]+)/i;\n\nreturn lines.map(line => {\n  return {\n    json: {\n      text: line,\n      isImage: imageRegex.test(line) // true kalau link gambar\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        112
      ],
      "id": "021ca159-cae7-41b0-a391-8f9dbf3cde38",
      "name": "Asingkan text biasa dengan gambar"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1152,
        96
      ],
      "id": "5e65ab91-6272-4f17-b216-657527b12553",
      "name": "pecahkan mesej",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\n\n// Format YYYY-MM-DD\nlet tarikh = now.toISOString().split(\"T\")[0];\nconst options = { timeZone: \"Asia/Kuala_Lumpur\" };\nconst year = now.toLocaleString(\"en-GB\", { ...options, year: \"numeric\" });\nconst month = now.toLocaleString(\"en-GB\", { ...options, month: \"2-digit\" });\nconst day = now.toLocaleString(\"en-GB\", { ...options, day: \"2-digit\" });\n\nconst tarikh_format = `${day}-${month}-${year}`;\ntarikh =  `${year}-${month}-${day}`;\n\nreturn {\n  tarikh,\n  tarikh_format\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        336
      ],
      "id": "f6841bd7-bb95-415d-8959-c8e57d0e32ba",
      "name": "Tarikh Sekarang1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9c32d1aa-4fce-4c66-b84e-63bfb46c425f",
              "name": "message",
              "value": "={{ $json.message_jadual }}",
              "type": "string"
            },
            {
              "id": "494b24b2-cb6b-47ec-88d8-7e28c847892a",
              "name": "sessionId",
              "value": "masjid_session",
              "type": "string"
            },
            {
              "id": "a2ea9ccb-2058-4795-9911-61d0705a316d",
              "name": "group",
              "value": "default",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        -144
      ],
      "id": "5c2ba904-81a6-43d0-a93d-9cd3f9222c80",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa10c7ae-0184-45f9-8650-848af150768e",
              "name": "message",
              "value": "={{ $('Code').item.json.message }}",
              "type": "string"
            },
            {
              "id": "2f9b60e1-40a0-4a3b-93fc-fb28dd70931f",
              "name": "sessionId",
              "value": "masjid_session",
              "type": "string"
            },
            {
              "id": "ac2f2828-35c2-4d8b-b0a8-ed23b4f4444a",
              "name": "group",
              "value": "default",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        336
      ],
      "id": "86a7e9e1-a445-43d3-b6e2-5e05a8873e77",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "message"
            },
            {
              "fieldToAggregate": "sessionId"
            },
            {
              "fieldToAggregate": "group"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        64,
        112
      ],
      "id": "7e2a53e3-2170-45bf-8d26-e6e21c9c2e42",
      "name": "output message"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.message = $input.first().json.poster;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        336
      ],
      "id": "a69863ea-cdfa-4d5e-8e5c-ed3bcfddaf68",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6f32dba-8dfa-4add-82ac-589eb029a66d",
              "leftValue": "={{ $json.message[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        112
      ],
      "id": "b1b14a70-de4f-412f-bdfe-d2393ad1f216",
      "name": "If"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 8 * * 5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1408,
        336
      ],
      "id": "09bc9380-3faa-410b-8faf-c7675632f00d",
      "name": "Kitab Minhajul `Abidin"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 50 5 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1488,
        64
      ],
      "id": "e6abce20-9b80-4cb8-b755-9f88b0f15c5d",
      "name": "Sedekah Subuh"
    },
    {
      "parameters": {
        "jsCode": "let pengumuman = \"\";\nlet senaraiPengumuman = '';\nif($input.first().json.data[0].pengumuman){\n  for(const item of $('Aggregate1').first().json.data){\n    if((!item.tarikh_mula||String($('Tarikh Sekarang').first().json.tarikh)>=String(item.tarikh_mula)) && String($('Tarikh Sekarang').first().json.tarikh)<=String(item.tarikh_akhir)){\n      senaraiPengumuman += \"- *\"+item.pengumuman+\"*\\n\";\n    }\n  }\n}\n\nif(senaraiPengumuman){\n  pengumuman = \"\\n** *PENGUMUMAN* ** \\n\\n\";\n  pengumuman += \"****************************************\\n\";\n  pengumuman +=senaraiPengumuman;\n  pengumuman += \"****************************************\\n\";\n}\n\nreturn [\n  {\n    json:{\n      pengumuman\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        -144
      ],
      "id": "7c5bb16b-ec57-4dfd-b8e0-56a53e7ec8b7",
      "name": "Senarai Pengumuman"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1008,
        -144
      ],
      "id": "43f60bb7-76ca-439b-a118-2a2b5d975365",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -944,
        -336
      ],
      "id": "0bcc038e-46c5-4010-b6bb-318fbc78bc42",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "jsCode": "let hadis = \"\";\nif($('Aggregate2').first().json.data[0].Hadis!=null){\n  const len = $('Aggregate2').first().json.data.length;\n  const rand = Math.floor(Math.random()*len,0);\n  hadis = \"\\n_\"+$input.first().json.data[rand].Hadis+\"_\\n\";\n}\n\nreturn [\n  {\n    json:{\n      hadis\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        -336
      ],
      "id": "75865f46-bef1-4928-a4d2-fc76a2d1a5c1",
      "name": "Hadis Selected"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ssP2ikwXFWiluBNx",
          "mode": "list",
          "cachedResultName": "Masjid - Jadual Pengajian",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/ssP2ikwXFWiluBNx"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "tarikh_bulan_ini",
              "keyValue": "={{ $json.tarikh }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1600,
        -144
      ],
      "id": "84361c28-1536-437f-bed4-95ab3d5a7d0b",
      "name": "Cari Pengajian",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "n86Um1hF9bOnUjqJ",
          "mode": "list",
          "cachedResultName": "Masjid - Pengumuman",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/n86Um1hF9bOnUjqJ"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1184,
        -144
      ],
      "id": "89aec6fc-280c-437f-9be0-0d1f92192c96",
      "name": "Cari Pengumuman",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "NJINj9oOQAchkFdj",
          "mode": "list",
          "cachedResultName": "Masjid - Hadis Pilihan",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/NJINj9oOQAchkFdj"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1120,
        -336
      ],
      "id": "dc728937-d0c8-4aee-8aeb-8f33fa565f98",
      "name": "Cari Hadis",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "AFOFafR5B6BPxidl",
          "mode": "list",
          "cachedResultName": "Masjid - Waktu Solat",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/AFOFafR5B6BPxidl"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "tarikh",
              "keyValue": "={{ $('Tarikh Sekarang').item.json.tarikh }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -624,
        -336
      ],
      "id": "f7e30df5-56d2-4f89-b915-d8d76a99c4bd",
      "name": "Cari Waktu Solat",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ssP2ikwXFWiluBNx",
          "mode": "list",
          "cachedResultName": "Masjid - Jadual Pengajian",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/ssP2ikwXFWiluBNx"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "tarikh_bulan_ini",
              "keyValue": "={{ $json.tarikh }}"
            },
            {
              "keyName": "active",
              "keyValue": "Ya"
            },
            {
              "keyName": "kitab",
              "keyValue": "Minhajul 'Abidin"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -992,
        336
      ],
      "id": "4bbb1fbc-97ff-4840-8de6-607d182bde0b",
      "name": "Cari Kitab"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\n\n// Format YYYY-MM-DD\nlet tarikh = now.toISOString().split(\"T\")[0];\nconst options = { timeZone: \"Asia/Kuala_Lumpur\" };\nconst year = now.toLocaleString(\"en-GB\", { ...options, year: \"numeric\" });\nconst month = now.toLocaleString(\"en-GB\", { ...options, month: \"2-digit\" });\nconst day = now.toLocaleString(\"en-GB\", { ...options, day: \"2-digit\" });\n\nconst tarikh_format = `${day}-${month}-${year}`;\ntarikh =  `${year}-${month}-${day}`;\n\nconst date = new Date(tarikh);\ndate.setDate(date.getDate() + 1);\nconst tarikh_peringatan = date.toISOString().split(\"T\")[0];\n\nreturn {\n  tarikh,\n  tarikh_format,\n  tarikh_peringatan\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        688
      ],
      "id": "3c54306e-0de8-4820-a3a4-df17162e13b0",
      "name": "Tarikh Sekarang2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa10c7ae-0184-45f9-8650-848af150768e",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "2f9b60e1-40a0-4a3b-93fc-fb28dd70931f",
              "name": "sessionId",
              "value": "masjid_session",
              "type": "string"
            },
            {
              "id": "633f4391-3f36-4402-bfbf-0b22f9329471",
              "name": "group",
              "value": "={{ $json.group }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        656
      ],
      "id": "4e5034ca-5084-4f3f-8a31-4730ae90999d",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "let message = \"*Assalamualaikum.. Usrah esk (\"+$('Cari Kitab2').first().json.hari+\", \"+$('Tarikh Pengajian').first().json.tarikh_pengajian+\") mlm \";\n\nif($('Cari Kitab2').first().json.active==\"Ya\"){\n  message += \"berjalan seperti biasa..\";\n}else{\n  message += \"DIBATALKAN..\";\n}\n\nmessage +=\"*\";\n\nreturn [{\n  json:{\n    message,\n    group:'120363046203034644@g.us'\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        576
      ],
      "id": "4fa1e4a5-9dbb-47fb-9352-30a0da657691",
      "name": "Code3"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ssP2ikwXFWiluBNx",
          "mode": "list",
          "cachedResultName": "Masjid - Jadual Pengajian",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/ssP2ikwXFWiluBNx"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "tarikh_bulan_ini",
              "keyValue": "={{ $json.tarikh_peringatan }}"
            },
            {
              "keyName": "tempat",
              "keyValue": "Ribat Abu Al-Hassan"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1376,
        688
      ],
      "id": "5e1d6643-7ad9-4f34-86a7-e457e94d6199",
      "name": "Cari Kitab2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Cari Kitab2').item.json.kitab }}",
                    "rightValue": "Wisyahul Afrah",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8036cca6-60f4-44b3-b3d0-932ec8512d09"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Wisyahul Afrah"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "02a3bd28-2da4-47a3-a232-52c52cf106e4",
                    "leftValue": "={{ $('Cari Kitab2').item.json.kitab }}",
                    "rightValue": "Idaman Penuntut",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Idaman Penuntut"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a314e02f-9a2b-41c8-b8e8-555548ff5a3b",
                    "leftValue": "={{ $('Cari Kitab2').item.json.kitab }}",
                    "rightValue": "Penawar Bagi Hati",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Penawar Bagi Hati"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1088,
        672
      ],
      "id": "533d67b1-7360-4bd7-9477-ef155a62c305",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "let message = \"*Assalamualaikum.. Pengajian Fekah esk (\"+$('Cari Kitab2').first().json.hari+\", \"+$('Tarikh Pengajian').first().json.tarikh_pengajian+\") mlm \";\n\nif($('Cari Kitab2').first().json.active==\"Ya\"){\n  message += \"berjalan seperti biasa..\";\n}else{\n  message += \"DIBATALKAN..\";\n}\n\nmessage +=\"*\";\n\nreturn [{\n  json:{\n    message,\n    group:'120363046203034644@g.us'\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        736
      ],
      "id": "21ae9266-068d-4e57-baf0-8cfaf4b21ea7",
      "name": "Code4"
    },
    {
      "parameters": {
        "jsCode": "let message = \"*Assalamualaikum.. Pengajian Tasawuf esk (\"+$('Cari Kitab2').first().json.hari+\", \"+$('Tarikh Pengajian').first().json.tarikh_pengajian+\") mlm \";\n\nif($('Cari Kitab2').first().json.active==\"Ya\"){\n  message += \"berjalan seperti biasa..\";\n}else{\n  message += \"DIBATALKAN..\";\n}\n\nmessage +=\"*\";\n\nreturn [{\n  json:{\n    message,\n    group:'120363046203034644@g.us'\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        912
      ],
      "id": "6c2cc432-27b8-4f3e-b03c-717856fcb436",
      "name": "Code5"
    },
    {
      "parameters": {
        "jsCode": "let message = \"*Assalamualaikum.. Pengajian Asas Fardhu Ain esk (\"+$('Cari Kitab3').first().json.hari+\", \"+$('Tarikh Pengajian4').first().json.tarikh_pengajian+\") mlm \";\n\nif($('Cari Kitab3').first().json.active==\"Ya\"){\n  message += \"berjalan seperti biasa..\";\n}else{\n  message += \"DIBATALKAN..\";\n}\n\nmessage +=\"*\";\n\nreturn [{\n  json:{\n    message,\n    group:'120363296155366232@g.us'\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        1584
      ],
      "id": "36d4a08d-340c-4137-8ec1-97dcc3074c4a",
      "name": "Code6"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\n\n// Format YYYY-MM-DD\nlet tarikh = now.toISOString().split(\"T\")[0];\nconst options = { timeZone: \"Asia/Kuala_Lumpur\" };\nconst year = now.toLocaleString(\"en-GB\", { ...options, year: \"numeric\" });\nconst month = now.toLocaleString(\"en-GB\", { ...options, month: \"2-digit\" });\nconst day = now.toLocaleString(\"en-GB\", { ...options, day: \"2-digit\" });\n\nconst tarikh_format = `${day}-${month}-${year}`;\ntarikh =  `${year}-${month}-${day}`;\n\nconst date = new Date(tarikh);\ndate.setDate(date.getDate() + 1);\nconst tarikh_peringatan = date.toISOString().split(\"T\")[0];\n\nreturn {\n  tarikh,\n  tarikh_format,\n  tarikh_peringatan\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        1536
      ],
      "id": "6e79a254-58d1-4907-a2f6-814acd4cd789",
      "name": "Tarikh Sekarang3"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ssP2ikwXFWiluBNx",
          "mode": "list",
          "cachedResultName": "Masjid - Jadual Pengajian",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/ssP2ikwXFWiluBNx"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "tarikh_bulan_ini",
              "keyValue": "={{ $json.tarikh_peringatan }}"
            },
            {
              "keyName": "tempat",
              "keyValue": "Bangsal Haji Nordin Bukit"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1216,
        1584
      ],
      "id": "be8ee734-6888-4a12-9084-e0f7cf4b8699",
      "name": "Cari Kitab3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const now = new Date($input.first().json.tarikh_bulan_ini);\n\n// Format YYYY-MM-DD\nconst options = { timeZone: \"Asia/Kuala_Lumpur\" };\nconst year = now.toLocaleString(\"en-GB\", { ...options, year: \"numeric\" });\nconst month = now.toLocaleString(\"en-GB\", { ...options, month: \"2-digit\" });\nconst day = now.toLocaleString(\"en-GB\", { ...options, day: \"2-digit\" });\n\nconst tarikh_pengajian = `${day}-${month}-${year}`;\n\nreturn {\n  tarikh_pengajian\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        688
      ],
      "id": "3032b7e9-4061-478d-bcb7-34de362ef1e6",
      "name": "Tarikh Pengajian"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date($input.first().json.tarikh_bulan_ini);\n\n// Format YYYY-MM-DD\nconst options = { timeZone: \"Asia/Kuala_Lumpur\" };\nconst year = now.toLocaleString(\"en-GB\", { ...options, year: \"numeric\" });\nconst month = now.toLocaleString(\"en-GB\", { ...options, month: \"2-digit\" });\nconst day = now.toLocaleString(\"en-GB\", { ...options, day: \"2-digit\" });\n\nconst tarikh_pengajian = `${day}-${month}-${year}`;\n\nreturn {\n  tarikh_pengajian\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        1584
      ],
      "id": "2330aaf9-1ff8-4a16-8b08-ff916bd7e01c",
      "name": "Tarikh Pengajian1"
    },
    {
      "parameters": {
        "jsCode": "const message = \"*Assalamualaikum.. Jangan lupa usrah mlm ni..* \";\n\nreturn [{\n  json:{\n    message,\n    group:'120363046203034644@g.us'\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        1056
      ],
      "id": "277a58c5-9cfd-4c8c-b904-be150119412f",
      "name": "Code7"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ssP2ikwXFWiluBNx",
          "mode": "list",
          "cachedResultName": "Masjid - Jadual Pengajian",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/ssP2ikwXFWiluBNx"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "tarikh_bulan_ini",
              "keyValue": "={{ $json.tarikh }}"
            },
            {
              "keyName": "tempat",
              "keyValue": "Ribat Abu Al-Hassan"
            },
            {
              "keyName": "active",
              "keyValue": "Ya"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1376,
        1168
      ],
      "id": "c1affdde-b00b-48ab-b1cb-62af8591c9b9",
      "name": "Cari Kitab4",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Cari Kitab4').item.json.kitab }}",
                    "rightValue": "Wisyahul Afrah",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8036cca6-60f4-44b3-b3d0-932ec8512d09"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Wisyahul Afrah"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "02a3bd28-2da4-47a3-a232-52c52cf106e4",
                    "leftValue": "={{ $('Cari Kitab4').item.json.kitab }}",
                    "rightValue": "Idaman Penuntut",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Idaman Penuntut"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a314e02f-9a2b-41c8-b8e8-555548ff5a3b",
                    "leftValue": "={{ $('Cari Kitab4').item.json.kitab }}",
                    "rightValue": "Penawar Bagi Hati",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Penawar Bagi Hati"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1088,
        1152
      ],
      "id": "74b7e4d8-539c-4c0a-b294-c54a820e4825",
      "name": "Switch1"
    },
    {
      "parameters": {
        "jsCode": "let message = \"*Assalamualaikum.. Jangan lupa pengajian Fekah mlm ni..*\";\n\nreturn [{\n  json:{\n    message,\n    group:'120363046203034644@g.us'\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        1216
      ],
      "id": "35851d88-5e15-49aa-8a89-7d57cd6ff638",
      "name": "Code8"
    },
    {
      "parameters": {
        "jsCode": "let message = \"*Assalamualaikum.. Jangan lupa pengajian Tasawuf mlm ni..*\";\n\nreturn [{\n  json:{\n    message,\n    group:'120363046203034644@g.us'\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        1392
      ],
      "id": "f6372f85-235f-4850-8308-3e54ac197ec3",
      "name": "Code9"
    },
    {
      "parameters": {
        "jsCode": "let message = \"*Assalamualaikum.. Jangan lupa pengajian Asas Fardhu Ain mlm ni..*\";\n\nreturn [{\n  json:{\n    message,\n    group:'120363296155366232@g.us'\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        1776
      ],
      "id": "c36c4794-168c-4cad-bd4c-065de0d6eb9d",
      "name": "Code10"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ssP2ikwXFWiluBNx",
          "mode": "list",
          "cachedResultName": "Masjid - Jadual Pengajian",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/ssP2ikwXFWiluBNx"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "tarikh_bulan_ini",
              "keyValue": "={{ $json.tarikh }}"
            },
            {
              "keyName": "tempat",
              "keyValue": "Bangsal Haji Nordin Bukit"
            },
            {
              "keyName": "active",
              "keyValue": "Ya"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1216,
        1776
      ],
      "id": "7b4190de-7332-49fb-9556-f987a7325de5",
      "name": "Cari Kitab5",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const now = new Date($input.first().json.tarikh_bulan_ini);\n\n// Format YYYY-MM-DD\nconst options = { timeZone: \"Asia/Kuala_Lumpur\" };\nconst year = now.toLocaleString(\"en-GB\", { ...options, year: \"numeric\" });\nconst month = now.toLocaleString(\"en-GB\", { ...options, month: \"2-digit\" });\nconst day = now.toLocaleString(\"en-GB\", { ...options, day: \"2-digit\" });\n\nconst tarikh_pengajian = `${day}-${month}-${year}`;\n\nreturn {\n  tarikh_pengajian\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        1168
      ],
      "id": "8b13c708-abc8-4894-9275-d280f12a6361",
      "name": "Tarikh Pengajian2"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date($input.first().json.tarikh_bulan_ini);\n\n// Format YYYY-MM-DD\nconst options = { timeZone: \"Asia/Kuala_Lumpur\" };\nconst year = now.toLocaleString(\"en-GB\", { ...options, year: \"numeric\" });\nconst month = now.toLocaleString(\"en-GB\", { ...options, month: \"2-digit\" });\nconst day = now.toLocaleString(\"en-GB\", { ...options, day: \"2-digit\" });\n\nconst tarikh_pengajian = `${day}-${month}-${year}`;\n\nreturn {\n  tarikh_pengajian\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        1776
      ],
      "id": "a8dfd596-db84-4fe5-a6e5-d15c41c0edde",
      "name": "Tarikh Pengajian3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 16 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1840,
        688
      ],
      "id": "4e76ef0c-1300-4c87-80a8-fd6488815ad3",
      "name": "Pengajian Luar"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date($input.first().json.tarikh_bulan_ini);\n\n// Format YYYY-MM-DD\nconst options = { timeZone: \"Asia/Kuala_Lumpur\" };\nconst year = now.toLocaleString(\"en-GB\", { ...options, year: \"numeric\" });\nconst month = now.toLocaleString(\"en-GB\", { ...options, month: \"2-digit\" });\nconst day = now.toLocaleString(\"en-GB\", { ...options, day: \"2-digit\" });\n\nconst tarikh_pengajian = `${day}-${month}-${year}`;\n\nreturn {\n  tarikh_pengajian\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        1584
      ],
      "id": "c2a30079-2aac-49c2-83d8-a71382db880a",
      "name": "Tarikh Pengajian4"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date($input.first().json.tarikh_bulan_ini);\n\n// Format YYYY-MM-DD\nconst options = { timeZone: \"Asia/Kuala_Lumpur\" };\nconst year = now.toLocaleString(\"en-GB\", { ...options, year: \"numeric\" });\nconst month = now.toLocaleString(\"en-GB\", { ...options, month: \"2-digit\" });\nconst day = now.toLocaleString(\"en-GB\", { ...options, day: \"2-digit\" });\n\nconst tarikh_pengajian = `${day}-${month}-${year}`;\n\nreturn {\n  tarikh_pengajian\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        1776
      ],
      "id": "703021be-9786-4676-ab7f-f6e0bdf88120",
      "name": "Tarikh Pengajian5"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random()*5,1) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1312,
        480
      ],
      "id": "174ba664-8b62-4101-97f9-2fca85e4d1de",
      "name": "Wait1",
      "webhookId": "3b24a82b-7471-433c-baa0-10bbe1fbacd9"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nlet message=null;\nlet from = $('pecahkan mesej').first().json.group;\n\nfor(const i in data.from ){\n  if(data.from[i]==from){\n    message = data.message[i];\n    break;\n  }\n}\n\nreturn [\n  {\n    json:{\n      from,\n      message\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        352
      ],
      "id": "8b27110d-378b-4372-aae0-fbf46b16cdd5",
      "name": "Check Exists"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "lastMessage.from",
              "renameField": true,
              "outputFieldName": "from"
            },
            {
              "fieldToAggregate": "lastMessage.body",
              "renameField": true,
              "outputFieldName": "message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2096,
        352
      ],
      "id": "b9cee01f-ba47-4986-8cb8-14e78959217d",
      "name": "Aggregate4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d1ee6e48-454e-4595-8989-051579cd52c2",
              "leftValue": "={{ $json.message }}",
              "rightValue": "={{ $('Asingkan text biasa dengan gambar').first().json.text }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2256,
        544
      ],
      "id": "68a89d1a-81ce-4fd4-b166-0d8985478481",
      "name": "Jika Mesej sama"
    },
    {
      "parameters": {
        "resource": "Chats",
        "operation": "Get Chats Overview",
        "session": "={{ $('output message').first().json.sessionId[0] }}",
        "limit": "=6",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1920,
        352
      ],
      "id": "e61f09d9-e91c-4a4e-a2a2-92e1f9139eb8",
      "name": "Mesej Terbaru",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "shukrisenawi",
    "name": "n8n_backup"
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kuala_Lumpur",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "X3z9DFNcd6pygcaS",
    "timeSavedPerExecution": 1
  },
  "shared": [
    {
      "createdAt": "2025-09-25T09:01:27.216Z",
      "updatedAt": "2025-09-25T09:01:27.216Z",
      "role": "workflow:owner",
      "workflowId": "JACuERqBEkFWgSs5",
      "projectId": "xIwyQZxho25VDDOK"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    },
    "node:Kitab Minhajul `Abidin": {
      "recurrenceRules": [
        279
      ]
    },
    "node:Sedekah Subuh": {
      "recurrenceRules": [
        15
      ]
    },
    "node:Ribat": {
      "recurrenceRules": []
    },
    "node:Atas Bukit": {
      "recurrenceRules": []
    },
    "node:Pengajian Luar": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2025-11-04T21:59:31.000Z",
  "versionId": "f59d66de-14a6-4a98-b9ce-23d78f2b3189"
}