qijDbSeDRZTGEbLi.json
{
  "active": true,
  "connections": {
    "Var": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Var",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Feed Masjid": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Tarikh & Masa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarikh & Masa": {
      "main": [
        [
          {
            "node": "Cari Program Live1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cari Pengajian": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "minggu bukit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "minggu kitab": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message Pengajian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Pengajian": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Ribat": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Bukit": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "minggu bukit": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Message Bukit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Message Ribat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "minggu kitab1": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Message Pengajian1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Pengajian1": {
      "main": [
        [
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cari Pengajian Live": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Tarikh & Masa1": {
      "main": [
        [
          {
            "node": "Cari Program Live",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Groups": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an image": {
      "main": [
        [
          {
            "node": "pecahkan mesej",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Typing": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "pecahkan mesej",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Stop Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jika gambar": {
      "main": [
        [],
        []
      ]
    },
    "Asingkan text biasa dengan gambar": {
      "main": [
        [
          {
            "node": "Jika gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pecahkan mesej": {
      "main": [
        [],
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "pecahkan mesej",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "All Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Tarikh & Masa1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Facebook Feed Masjid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Facebook Feed Masjid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API2": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message": {
      "main": [
        [
          {
            "node": "Ambil Gambar & text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cari Program Live": {
      "main": [
        [
          {
            "node": "Facebook Graph API2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Message Program",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cari Pengajian Live",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Program": {
      "main": [
        [
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate4": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ambil Gambar & text": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Send an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cari Program Live1": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cari Pengajian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Message Program1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cari Pengajian Masjid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Program1": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cari Pengajian Masjid": {
      "main": [
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cari Pengajian Surau": {
      "main": [
        [
          {
            "node": "Message Surau",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "minggu kitab1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cari Pengajian Surau",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Surau": {
      "main": [
        [
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "minggu kitab",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cari Pengajian Surau1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cari Pengajian Surau1": {
      "main": [
        [
          {
            "node": "Message Surau1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Surau1": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-28T09:25:27.754Z",
  "id": "qijDbSeDRZTGEbLi",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "MASJID AL-HALIMI - Live Facebook",
  "nodes": [
    {
      "parameters": {
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "feed",
        "options": {}
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -480,
        -32
      ],
      "id": "2f8d8bfd-ca94-4560-832d-33acb1e08124",
      "name": "Facebook Feed Masjid",
      "credentials": {
        "facebookGraphApi": {
          "id": "GwhUdTdF8NgkqAOe",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\n\n// Format YYYY-MM-DD\nlet tarikh = now.toISOString().split(\"T\")[0];\nconst options = { timeZone: \"Asia/Kuala_Lumpur\" };\nconst year = now.toLocaleString(\"en-GB\", { ...options, year: \"numeric\" });\nconst month = now.toLocaleString(\"en-GB\", { ...options, month: \"2-digit\" });\nconst day = parseInt(now.toLocaleString(\"en-GB\", { ...options, day: \"2-digit\" }), 10);\n\nconst tarikh_format = `${String(day).padStart(2,\"0\")}-${month}-${year}`;\ntarikh = `${year}-${month}-${String(day).padStart(2,\"0\")}`;\n\nreturn {\n  tarikh,\n  tarikh_format,\n  session:\"masjid_session\",\n  no_hp:'60195168839@c.us'\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1648,
        -304
      ],
      "id": "c78c629c-d72d-49c5-a222-08631ff5fd92",
      "name": "Var"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "b229925a-7676-4e25-937a-07ade4326107",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1952,
        -480
      ],
      "id": "a59c0fb4-a27f-4ed7-a96c-9e8ef8c1a417",
      "name": "Webhook",
      "webhookId": "b229925a-7676-4e25-937a-07ade4326107"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "22e90b2a-8ce3-4f72-85ab-d1972e8192df",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "4258f141-a834-4510-86fc-dd612d8b4774",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "=pageMasjid",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1616,
        -496
      ],
      "id": "9da90d66-4f31-4008-9098-7f7f48497c43",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1360,
        -512
      ],
      "id": "f786dfee-09a2-4872-a525-155e3302289b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.entry[0].changes[0].field }}",
                    "rightValue": "live_videos",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "372be7e5-72eb-42f2-8068-f90d0cde1e0b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Live Video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "44ad03dc-e843-45df-8f9f-98f698d25b7e",
                    "leftValue": "={{ $('Webhook').item.json.body.entry[0].changes[0].field }}",
                    "rightValue": "feed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Feed"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1472,
        -304
      ],
      "id": "309b8e22-df43-4200-869e-f51fb7728bae",
      "name": "Switch"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -272,
        -32
      ],
      "id": "84441991-5d25-4c8b-b954-c3accd9f527f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -64,
        -32
      ],
      "id": "7d2e11d1-cf07-4ce5-a617-aab74698d2b7",
      "name": "Loop Over Items",
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e543a084-1967-4359-94d1-5f931bfd0991",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "93763346-fa32-4e37-b1b4-75e4d2990094",
              "leftValue": "={{ $json.message }}",
              "rightValue": ".",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        -16
      ],
      "id": "c9de93cf-de6e-4c4b-abf7-122064f02814",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// Ambil tarikh asal daripada input (contoh field: created_time)\nconst inputDate = new Date();\n\n// Ubah ke zon masa Malaysia (UTC+8)\nconst malaysiaDate = new Date(inputDate.getTime() + (8 * 60 * 60 * 1000));\n\n// Pisahkan tarikh dan masa (24 jam)\nconst datePart = malaysiaDate.toISOString().split('T')[0];\nconst timePart24 = malaysiaDate.toISOString().split('T')[1].split('.')[0];\n\n// Tukar ke format 12 jam\nlet hours = malaysiaDate.getUTCHours();\nconst minutes = malaysiaDate.getUTCMinutes().toString().padStart(2, '0');\nconst ampm = hours >= 12 ? 'PM' : 'AM';\nhours = hours % 12 || 12;\nconst timePart12 = `${hours.toString().padStart(2, '0')}:${minutes}${ampm}`;\n\n// Format tarikh gaya Malaysia (dd/mm/YYYY)\nconst day = malaysiaDate.getUTCDate().toString().padStart(2, '0');\nconst month = (malaysiaDate.getUTCMonth() + 1).toString().padStart(2, '0');\nconst year = malaysiaDate.getUTCFullYear();\nconst tarikhMsia = `${day}/${month}/${year}`;\n\n// Tentukan hari\nconst hariList = ['ahad','isnin','selasa','rabu','khamis','jumaat','sabtu'];\nconst hari = hariList[malaysiaDate.getUTCDay()];\n\n// Hantar hasil\nreturn {\n  json: {\n    tarikh: datePart,     // format asal ISO (YYYY-MM-DD)\n    masa24: timePart24,   // masa 24 jam\n    masa12: timePart12,   // masa 12 jam\n    tarikhMsia,\n    hari                   // nama hari dalam BM\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        336
      ],
      "id": "2bcf5c83-ebbe-4576-8302-e9f7fb660278",
      "name": "Tarikh & Masa"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ssP2ikwXFWiluBNx",
          "mode": "list",
          "cachedResultName": "Masjid - Jadual Pengajian",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/ssP2ikwXFWiluBNx"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "tarikh_bulan_ini",
              "keyValue": "={{ $('Tarikh & Masa').item.json.tarikh }}"
            },
            {
              "keyName": "active",
              "keyValue": "Ya"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -304,
        416
      ],
      "id": "2a1c17d0-6afc-4086-ba50-828493eb418e",
      "name": "Cari Pengajian",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ String($('Loop Over Items').item.json.story) }}",
                    "rightValue": "Masjid Al-Halimi Batu 5 was live.",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "568fc823-734b-4f4e-b337-b9f1d5fcaf95"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Live Facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1b0d84e5-f554-4c3c-9edd-5dbc64203a66",
                    "leftValue": "={{ $json.tempat }}",
                    "rightValue": "Bangsal Haji Nordin Bukit",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pemuda Bukit"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6437dc84-3dc6-4b1c-ab60-f9ae9ce9add1",
                    "leftValue": "={{ $json.tempat }}",
                    "rightValue": "Ribat Abu Al-Hassan",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ribat"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -16,
        320
      ],
      "id": "a52f245b-7ec1-4392-ab3e-a42c44a14685",
      "name": "Switch1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ssP2ikwXFWiluBNx",
          "mode": "list",
          "cachedResultName": "Masjid - Jadual Pengajian",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/ssP2ikwXFWiluBNx"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "kitab",
              "keyValue": "={{ $json.kitab }}"
            },
            {
              "keyName": "pengajar",
              "keyValue": "={{ $json.pengajar }}"
            },
            {
              "keyName": "live",
              "keyValue": "Ya"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        448,
        272
      ],
      "id": "d2b64250-231f-4406-a697-f4983468934e",
      "name": "minggu kitab"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "minggu"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        608,
        272
      ],
      "id": "93eeffd4-5b2e-41c3-8b4c-0dfc525cbfe2",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "={{ $('Loop Over Items').item.json.id }}",
        "edge": "=",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json.message }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1088,
        368
      ],
      "id": "4bb29096-8e0e-4d66-b1e7-1450f9e666f7",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "GwhUdTdF8NgkqAOe",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const minggu = $input.first().json.minggu;\nlet str_minggu = minggu.length > 1\n  ? minggu.slice(0, -1).join(', ') + ' & ' + minggu.slice(-1)\n  : minggu[0].toString();\nif(str_minggu=='1, 2, 3, 4 & 5')\n  str_minggu = \"Setiap Minggu\";\nelse \n  str_minggu = `Minggu `+str_minggu;\n\nconst message =  `***** Siaran Langsung *****\n\nTempat   :   Masjid Al-Halimi Batu 5, Sik Kedah\nPengajar :   `+$('Cari Pengajian Masjid').first().json.pengajar+`\nKitab       :   `+$('Cari Pengajian Masjid').first().json.kitab+`\nTarikh      :   `+$('Tarikh & Masa').first().json.tarikhMsia+`\nJadual Pengajian : `+$('Cari Pengajian Masjid').first().json.hari.charAt(0).toUpperCase() + $('Cari Pengajian Masjid').first().json.hari.slice(1).toLowerCase()+`, `+str_minggu+`\n\n#Kitab`+$('Cari Pengajian Masjid').first().json.kitab.replace(/\\s+/g, '').replace('-', '').replace('(Hadis)','')+`\n\n********************************************\n\nSebarang sumbangan kepada masjid boleh disalurkan pada akaun di bawah :\nBANK           :    BANK RAKYAT \nPENAMA      :    MASJID AL-HALIMI\nNO AKAUN  :    1101498276\n\n********************************************`;\n\nreturn [\n  {\n    json:{\n      message\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        272
      ],
      "id": "99461b6c-3c76-47b7-a666-3572c58ac236",
      "name": "Message Pengajian"
    },
    {
      "parameters": {
        "jsCode": "const minggu = $input.first().json.minggu;\nlet str_minggu = minggu.length > 1\n  ? minggu.slice(0, -1).join(', ') + ' & ' + minggu.slice(-1)\n  : minggu[0].toString();\nif(str_minggu=='1, 2, 3, 4 & 5')\n  str_minggu = \"Setiap Minggu\";\nelse \n  str_minggu = `Minggu `+str_minggu;\n\nconst message =  `*** Pengajian Pemuda Kampung ***\n\nTempat   :   `+$('Cari Pengajian').first().json.tempat+`\nPengajar :   `+$('Cari Pengajian').first().json.pengajar+`\nKitab       :   `+$('Cari Pengajian').first().json.kitab+`\nTarikh      :  `+$('Tarikh & Masa').first().json.tarikhMsia+`\nJadual Pengajian : Isnin Minggu 1 & 4, Rabu Minggu 3, Selepas Solat Isyak\n\n#RibatAbuAlHassan\n\n***************************************************\nSebarang sumbangan kepada masjid boleh disalurkan pada akaun di bawah :\nBANK :                BANK RAKYAT \nPENAMA :          MASJID AL-HALIMI\nNO AKAUN :      1101498276\n***************************************************`;\n\nreturn [\n  {\n    json:{\n      message\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        592
      ],
      "id": "b192cdd5-751c-46b0-aed7-9fcf566de856",
      "name": "Message Ribat"
    },
    {
      "parameters": {
        "jsCode": "const minggu = $('minggu bukit').first().json.minggu;\nlet str_minggu = minggu.length > 1\n  ? minggu.slice(0, -1).join(', ') + ' & ' + minggu.slice(-1)\n  : minggu[0].toString();\nif(str_minggu=='1, 2, 3, 4 & 5')\n  str_minggu = \"Setiap Minggu\";\nelse \n  str_minggu = `Minggu `+str_minggu;\n\nconst message =  `*** Usrah Pemuda Bukit ***\n\nTempat   :   `+$('minggu bukit').first().json.tempat+`\nPengajar :   `+$('minggu bukit').first().json.pengajar+`\nKitab       :   `+$('minggu bukit').first().json.kitab+`\nTarikh      :  `+$('Tarikh & Masa').first().json.tarikhMsia+`\nJadual Pengajian : `+$('Cari Pengajian').first().json.hari.charAt(0).toUpperCase() + $('Cari Pengajian').first().json.hari.slice(1).toLowerCase()+`, `+str_minggu+` selepas isyak\n\n#UsrahPemudaBukit\n\n***************************************************\nSebarang sumbangan kepada masjid boleh disalurkan pada akaun di bawah :\nBANK :                BANK RAKYAT \nPENAMA :          MASJID AL-HALIMI\nNO AKAUN :      1101498276\n***************************************************`;\n\nreturn [\n  {\n    json:{\n      message\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        432
      ],
      "id": "f40c862d-3f0a-4bd0-bc9f-685989002da6",
      "name": "Message Bukit"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ssP2ikwXFWiluBNx",
          "mode": "list",
          "cachedResultName": "Masjid - Jadual Pengajian",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/ssP2ikwXFWiluBNx"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "tempat",
              "keyValue": "Bangsal Haji Nordin Bukit"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        384,
        432
      ],
      "id": "a799d4e7-4d94-4f2c-97e1-09d8aeedd69b",
      "name": "minggu bukit"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "minggu"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        608,
        432
      ],
      "id": "714de6fe-d34e-4835-aac0-78fbc8e0e31b",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "minggu"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        608,
        592
      ],
      "id": "baa7ebc9-bf2e-410c-954f-0cbd5a1ca2b3",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ssP2ikwXFWiluBNx",
          "mode": "list",
          "cachedResultName": "Masjid - Jadual Pengajian",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/ssP2ikwXFWiluBNx"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "pengajar",
              "keyValue": "={{ $json.pengajar }}"
            },
            {
              "keyName": "kitab",
              "keyValue": "={{ $json.kitab }}"
            },
            {
              "keyName": "live",
              "keyValue": "Ya"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        80,
        -480
      ],
      "id": "4f22c19e-b5b3-44d3-95ea-ba785124e864",
      "name": "minggu kitab1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "minggu"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        240,
        -480
      ],
      "id": "5e7ba0af-e6fb-404d-bcd1-966502ac45f9",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "jsCode": "const parmalinkUrl = $('Facebook Graph API2').first().json.permalink_url;\n\nconst messageLive =  $('Cari Pengajian Live').first().json.poster+`\n🌙 _*`+$('Cari Pengajian Live').first().json.tempat+`*_\n📅 _*`+$('Tarikh & Masa1').first().json.tarikhMsia+`, `+$('Tarikh & Masa1').first().json.masa12+`*_\n\n🔴 LIVE : https://www.facebook.com/share/`+parmalinkUrl.split(\"/\").slice(-2).join(\"/\")+`\n\n📢 _Jom sama-sama sebarkan siaran ni, semoga lebih ramai dapat manfaat. Mudah-mudahan Allah berkati usaha kita semua._ 🤲\n\n_Klik link di bawah untuk ke Group Live pengajian :_\n_https://chat.whatsapp.com/GlvTwSX9RFX1CpJ5j3rSTq?mode=wwt_\n`;\n\nconst message =  $('Cari Pengajian Live').first().json.poster+`\n🌙 _*`+$('Cari Pengajian Live').first().json.tempat+`*_\n📅 _*`+$('Tarikh & Masa1').first().json.tarikhMsia+`, `+$('Tarikh & Masa1').first().json.masa12+`*_\n\n🔴 LIVE : https://www.facebook.com/share/`+parmalinkUrl.split(\"/\").slice(-2).join(\"/\")+`\n\n📢 _Jom sama-sama sebarkan siaran ni, semoga lebih ramai dapat manfaat. Mudah-mudahan Allah berkati usaha kita semua._ 🤲`;\nreturn [\n  {\n    json:{\n      message,\n      messageLive,\n      group:['default']\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -464
      ],
      "id": "8423e52a-5c0c-4727-a966-8a0394f16f29",
      "name": "Message Pengajian1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ssP2ikwXFWiluBNx",
          "mode": "list",
          "cachedResultName": "Masjid - Jadual Pengajian",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/ssP2ikwXFWiluBNx"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "tarikh_bulan_ini",
              "keyValue": "={{ $('Var').item.json.tarikh }}"
            },
            {
              "keyName": "active",
              "keyValue": "Ya"
            },
            {
              "keyName": "live",
              "keyValue": "Ya"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -272,
        -432
      ],
      "id": "3ccdc4d0-cd0a-4c15-bc59-1cc6d1084a2e",
      "name": "Cari Pengajian Live",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Ambil tarikh asal daripada input (contoh field: created_time)\nconst inputDate = new Date();\n\n// Ubah ke zon masa Malaysia (UTC+8)\nconst malaysiaDate = new Date(inputDate.getTime() + (8 * 60 * 60 * 1000));\n\n// Pisahkan tarikh dan masa (24 jam)\nconst datePart = malaysiaDate.toISOString().split('T')[0];\nconst timePart24 = malaysiaDate.toISOString().split('T')[1].split('.')[0];\n\n// Tukar ke format 12 jam\nlet hours = malaysiaDate.getUTCHours();\nconst minutes = malaysiaDate.getUTCMinutes().toString().padStart(2, '0');\nconst ampm = hours >= 12 ? 'PM' : 'AM';\nhours = hours % 12 || 12;\nconst timePart12 = `${hours.toString().padStart(2, '0')}:${minutes}${ampm}`;\n\n// Format tarikh gaya Malaysia (dd/mm/YYYY)\nconst day = malaysiaDate.getUTCDate().toString().padStart(2, '0');\nconst month = (malaysiaDate.getUTCMonth() + 1).toString().padStart(2, '0');\nconst year = malaysiaDate.getUTCFullYear();\nconst tarikhMsia = `${day}/${month}/${year}`;\n\n// Tentukan hari\nconst hariList = ['ahad','isnin','selasa','rabu','khamis','jumaat','sabtu'];\nconst hari = hariList[malaysiaDate.getUTCDay()];\n\n// Hantar hasil\nreturn {\n  json: {\n    tarikh: datePart,     // format asal ISO (YYYY-MM-DD)\n    masa24: timePart24,   // masa 24 jam\n    masa12: timePart12,   // masa 12 jam\n    tarikhMsia,\n    hari                   // nama hari dalam BM\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        -336
      ],
      "id": "5b5fb76e-de88-4e47-872e-1bf1df7b55f9",
      "name": "Tarikh & Masa1"
    },
    {
      "parameters": {
        "jsCode": "const input =$('If2').first().json.message[0];\n\n// Step 2: split ikut \\n\nlet lines = input.split(\"<br>\").map(x => x.trim()).filter(x => x !== \"\");\n\n// Return setiap baris jadi item berasingan\nreturn lines.map(line => ({ json: { line:line,group:$input.first().json.group } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -16
      ],
      "id": "9da79b8e-2618-43cb-9743-a3830f158d1e",
      "name": "Code2"
    },
    {
      "parameters": {
        "jsCode": "let groups =  ['120363421710384148@g.us','60195168839@c.us'];//group test\n\nif($('Aggregate4').first().json.group[0][0]=='default')\n  groups = ['60134693115-1476278350@g.us','60134507038-1525247606@g.us','120363046203034644@g.us', '120363296155366232@g.us','120363405149093802@g.us'];\nelse if($('Aggregate4').first().json.group[0][0])\n  groups = [$('Aggregate4').first().json.group[0][0]];\n\nreturn groups.map(group => ({ json: { group,message:$input.first().json.message[0] } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -320
      ],
      "id": "0df0160d-424c-4de4-aec7-6949711dd825",
      "name": "All Groups"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Image",
        "session": "={{ $('Var').first().json.session }}",
        "chatId": "={{ $('pecahkan mesej').item.json.group }}",
        "file": "={\n  \"mimetype\": \"image/jpeg\",\n  \"filename\": \"{{ new Date().toISOString() }}.jpg\",\n  \"url\": \"{{ $json.images[0] }}\"\n}",
        "caption": "={{ $json.text }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        2336,
        -48
      ],
      "id": "691ef28d-a654-4404-9d11-209631c8eae1",
      "name": "Send an image",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Stop Typing",
        "session": "={{ $('Var').first().json.session }}",
        "chatId": "={{ $('Loop Over Items1').first().json.group }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        2256,
        160
      ],
      "id": "5caf58f4-ecc7-43bb-abf7-b9a7c755b3c5",
      "name": "Stop Typing",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Var').first().json.session }}",
        "chatId": "={{ $('pecahkan mesej').first().json.group }}",
        "text": "={{ $('Ambil Gambar & text').item.json.text }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        2416,
        160
      ],
      "id": "68fbb1d7-6aed-4c39-914c-19ddbdaac3bf",
      "name": "Send a text message",
      "alwaysOutputData": true,
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random()*5,1) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1888,
        160
      ],
      "id": "d7ef5709-37fe-4470-8c54-28d971b1c968",
      "name": "Wait",
      "webhookId": "3b24a82b-7471-433c-baa0-10bbe1fbacd9"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('Var').first().json.session }}",
        "chatId": "={{ $('Loop Over Items1').first().json.group }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1744,
        160
      ],
      "id": "b5f71aa8-c956-4949-ac6a-fb1184f5b1a3",
      "name": "Start Typing",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ffe53d1b-5b9e-4491-b831-eb8d967b0322",
              "leftValue": "={{ $('Asingkan text biasa dengan gambar').first().json.isImage }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1840,
        672
      ],
      "id": "38f4aae0-18a2-4556-953a-bdb093793494",
      "name": "Jika gambar"
    },
    {
      "parameters": {
        "jsCode": "let lines = $input.first().json.line;\n\n// Kalau bukan array, tukar jadi array\nif (!Array.isArray(lines)) {\n  lines = [lines];\n}\n\n// Regex utk detect gambar\nconst imageRegex = /(https?:\\/\\/[^\\s]+(\\.jpg|\\.jpeg|\\.png|\\.gif|\\.webp)|https:\\/\\/drive\\.google\\.com\\/uc\\?(export=view&)?id=[^)\\s]+)/i;\n\nreturn lines.map(line => {\n  return {\n    json: {\n      text: line,\n      isImage: imageRegex.test(line) // true kalau link gambar\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        512
      ],
      "id": "3fe34cac-50eb-460b-852d-3edfb772a0e6",
      "name": "Asingkan text biasa dengan gambar"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1552,
        -336
      ],
      "id": "1201a72c-300a-4180-a187-8a8510649acc",
      "name": "pecahkan mesej",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1248,
        -320
      ],
      "id": "22123a42-f9b8-4b60-bce1-d8953fa006ab",
      "name": "Loop Over Items1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6f32dba-8dfa-4add-82ac-589eb029a66d",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        784,
        -240
      ],
      "id": "50f72a79-aeaf-4408-9b64-d195d518c969",
      "name": "If2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.entry[0].changes[0].value.status }}",
                    "rightValue": "live",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "068a8dcd-55a5-4a99-a7a0-36bbd079e5e1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mula"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "180c31ef-1bef-43c3-a187-eb478d9bd1bc",
                    "leftValue": "={{ $('Webhook').item.json.body.entry[0].changes[0].value.status }}",
                    "rightValue": "vod",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Post"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1040,
        -320
      ],
      "id": "eb33f928-2032-48a6-b6e1-08f49c334f13",
      "name": "Switch2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "052bb662-1d96-49b5-ba9c-a33ca645be8a",
              "leftValue": "={{ $('Webhook').item.json.body.entry[0].changes[0].value.verb }}",
              "rightValue": "add",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3379c999-b16f-4ada-bcd1-84223845c95c",
              "leftValue": "={{ $('Webhook').item.json.body.entry[0].changes[0].value.published }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1184,
        -80
      ],
      "id": "82e287e8-3fe5-4081-af68-e9d9e356e93e",
      "name": "If3"
    },
    {
      "parameters": {
        "graphApiVersion": "v23.0",
        "node": "={{ $('Webhook').item.json.body.entry[0].changes[0].value.id }}",
        "edge": "=",
        "allowUnauthorizedCerts": true,
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "fields",
                "value": "permalink_url"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -320,
        -608
      ],
      "id": "778d9441-1b3a-434f-9b2a-20d76f49efd2",
      "name": "Facebook Graph API2",
      "credentials": {
        "facebookGraphApi": {
          "id": "GwhUdTdF8NgkqAOe",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let message = $input.first().json.line;\nif($('pecahkan mesej').item.json.group=='120363405149093802@g.us')//'120363405149093802@g.us')\n  message = $('Aggregate4').first().json.messageLive[0];\n\nfor (const item of $input.all()) {\n  item.json.message = message;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        -320
      ],
      "id": "b05a7447-7e35-4948-8313-13beb054a5b7",
      "name": "Message"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "rf6Nzix5FxA3nKY6",
          "mode": "list",
          "cachedResultName": "Masjid - Program",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/rf6Nzix5FxA3nKY6"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "tarikh_program",
              "keyValue": "={{ $('Var').item.json.tarikh }}"
            },
            {
              "keyName": "live",
              "keyValue": "Ya"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -592,
        -336
      ],
      "id": "0931de19-ff53-450c-9494-8690962da903",
      "name": "Cari Program Live",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "877ddb88-f872-4ac9-bd09-a13e854077c4",
              "leftValue": "={{ $('Cari Program Live').item.json.program }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        -608
      ],
      "id": "6b44b117-fa0e-494c-a5b9-bad8f2b7bb6b",
      "name": "If4"
    },
    {
      "parameters": {
        "jsCode": "const parmalinkUrl = $input.first().json.permalink_url;\nconst messageLive =  $('Cari Program Live').first().json.poster+`\n🔴 LIVE : `+$('Cari Program Live').first().json.program+`\n\nhttps://www.facebook.com/share/`+parmalinkUrl.split(\"/\").slice(-2).join(\"/\")+`\n\n📢 _Jom sama-sama sebarkan siaran ni, semoga lebih ramai dapat manfaat. Mudah-mudahan Allah berkati usaha kita semua._ 🤲\n\n_Klik link di bawah untuk ke Group Live pengajian :_\n_https://chat.whatsapp.com/GlvTwSX9RFX1CpJ5j3rSTq?mode=wwt_\n`;\n\nconst message =  $('Cari Program Live').first().json.poster+`\n🔴 LIVE : `+$('Cari Program Live').first().json.program+`\n\nhttps://www.facebook.com/share/`+parmalinkUrl.split(\"/\").slice(-2).join(\"/\")+`\n\n📢 _Jom sama-sama sebarkan siaran ni, semoga lebih ramai dapat manfaat. Mudah-mudahan Allah berkati usaha kita semua._ 🤲`;\nreturn [\n  {\n    json:{\n      message,\n      messageLive,\n      group:['default']\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -624
      ],
      "id": "1997f263-b9e9-4cff-9476-9ee4bc4e54bd",
      "name": "Message Program"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "message"
            },
            {
              "fieldToAggregate": "messageLive"
            },
            {
              "fieldToAggregate": "group"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        784,
        -464
      ],
      "id": "f78de3d5-b8c6-45c3-b802-dd802e9b9097",
      "name": "Aggregate4"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.message;\nconst timestamp = Date.now(); // ambil masa sekarang dalam ms\n\n// Regex untuk detect pattern [Title](Link)\nconst regex = /(https?:\\/\\/[^\\s]+?\\.(jpg|jpeg|png|gif|webp)|https:\\/\\/drive\\.google\\.com\\/uc\\?(?:export=view&)?id=[^\\s]+)/gi;\n\n// Keluarkan semua link gambar\nconst images = input.match(regex) || [];\n\n// Keluarkan teks sahaja (tanpa link gambar)\nconst textOnly = input.replace(regex, '').trim();\n\nreturn {\n  json: {\n    text: textOnly,\n    images: images\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        -320
      ],
      "id": "a788b3af-2e40-4a9b-92a0-0bb1be1a235b",
      "name": "Ambil Gambar & text",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ceb20b3a-bcf6-4a4d-8800-464b0cd133bc",
              "leftValue": "={{ $json.images[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1904,
        -112
      ],
      "id": "eba37a17-2667-489c-b1e4-fcf5f983f337",
      "name": "If5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2160,
        -80
      ],
      "id": "8a9d8bb2-c44e-43f1-a25a-6b340b5b4465",
      "name": "Wait1",
      "webhookId": "044bb79c-e4f7-41a6-8378-9e747c6fda5c"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "rf6Nzix5FxA3nKY6",
          "mode": "list",
          "cachedResultName": "Masjid - Program",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/rf6Nzix5FxA3nKY6"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "tarikh_program",
              "keyValue": "={{ $('Var').item.json.tarikh }}"
            },
            {
              "keyName": "live",
              "keyValue": "Ya"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -688,
        336
      ],
      "id": "a10c07d1-12c8-4617-8b7a-61f9bac61e80",
      "name": "Cari Program Live1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "877ddb88-f872-4ac9-bd09-a13e854077c4",
              "leftValue": "={{ $json.program }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -496,
        336
      ],
      "id": "8b855796-c98d-4d3e-8c35-2e7c83ca9aa3",
      "name": "If6"
    },
    {
      "parameters": {
        "jsCode": "const message =  `***** Rakaman Siaran Langsung *****\n\nTempat  :   Masjid Al-Halimi Batu 5, Sik Kedah\nTajuk     :   `+$input.first().json.program+`\nTarikh    :   `+$input.first().json.hari_program+`, `+$('Tarikh & Masa').first().json.tarikhMsia+`\nPenceramah :   `+$input.first().json.penceramah+`\n\n#ProgramMasjidAlHalimiBatu5\n\n***********************************************\n\nSebarang sumbangan kepada masjid boleh disalurkan pada akaun di bawah :\n\nBANK           :    BANK RAKYAT \nPENAMA      :    MASJID AL-HALIMI\nNO AKAUN  :    1101498276\n\n***********************************************`;\n\nreturn [\n  {\n    json:{\n      message\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -48
      ],
      "id": "4c19d754-54bf-4e5a-8ace-1842857643ee",
      "name": "Message Program1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "877ddb88-f872-4ac9-bd09-a13e854077c4",
              "leftValue": "={{ $json.program }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        192
      ],
      "id": "1a458176-670e-4f5f-8086-a11bcdfd3a78",
      "name": "If7"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ssP2ikwXFWiluBNx",
          "mode": "list",
          "cachedResultName": "Masjid - Jadual Pengajian",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/ssP2ikwXFWiluBNx"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "active",
              "keyValue": "Ya"
            },
            {
              "keyName": "live",
              "keyValue": "Ya"
            },
            {
              "keyValue": "={{ $('Cari Pengajian').item.json.id }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        256,
        272
      ],
      "id": "2360f70d-af4c-49f8-bc32-7c253a22c06f",
      "name": "Cari Pengajian Masjid",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "lYJa8ELDISViXCss",
          "mode": "list",
          "cachedResultName": "Masjid - Jadual Pengajian Surau",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/lYJa8ELDISViXCss"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "hari",
              "keyValue": "={{ $('Tarikh & Masa1').item.json.hari }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        256,
        -304
      ],
      "id": "765555c7-d13b-4245-a2f0-44ff6aed378a",
      "name": "Cari Pengajian Surau"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c5527e7f-c509-45af-9593-7a819c6e28e5",
              "leftValue": "={{ $json.pengajar }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -112,
        -432
      ],
      "id": "189e9d48-a9b8-4639-a0e9-4128b442f732",
      "name": "If8"
    },
    {
      "parameters": {
        "jsCode": "const parmalinkUrl = $('Facebook Graph API2').first().json.permalink_url;\n\nconst messageLive =  $input.first().json.poster+`\n🌙 _*`+$input.first().json.tempat+`*_\n📅 _*`+$('Tarikh & Masa1').first().json.tarikhMsia+`, `+$('Tarikh & Masa1').first().json.masa12+`*_\n\n🔴 LIVE : https://www.facebook.com/share/`+parmalinkUrl.split(\"/\").slice(-2).join(\"/\")+`\n\n📢 _Jom sama-sama sebarkan siaran ni, semoga lebih ramai dapat manfaat. Mudah-mudahan Allah berkati usaha kita semua._ 🤲\n\n_Klik link di bawah untuk ke Group Live pengajian :_\n_https://chat.whatsapp.com/GlvTwSX9RFX1CpJ5j3rSTq?mode=wwt_\n`;\n\nconst message =  $input.first().json.poster+`\n🌙 _*`+$input.first().json.tempat+`*_\n📅 _*`+$('Tarikh & Masa1').first().json.tarikhMsia+`, `+$('Tarikh & Masa1').first().json.masa12+`*_\n\n🔴 LIVE : https://www.facebook.com/share/`+parmalinkUrl.split(\"/\").slice(-2).join(\"/\")+`\n\n📢 _Jom sama-sama sebarkan siaran ni, semoga lebih ramai dapat manfaat. Mudah-mudahan Allah berkati usaha kita semua._ 🤲`;\nreturn [\n  {\n    json:{\n      message,\n      messageLive,\n      group:['default']\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -304
      ],
      "id": "44bed53b-88b7-4570-a19a-0a7fadb46552",
      "name": "Message Surau"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c5527e7f-c509-45af-9593-7a819c6e28e5",
              "leftValue": "={{ $json.pengajar }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        96
      ],
      "id": "2591cf1b-8d35-4610-8fad-79e83721fe41",
      "name": "If9"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "lYJa8ELDISViXCss",
          "mode": "list",
          "cachedResultName": "Masjid - Jadual Pengajian Surau",
          "cachedResultUrl": "/projects/xIwyQZxho25VDDOK/datatables/lYJa8ELDISViXCss"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "hari",
              "keyValue": "={{ $('Tarikh & Masa').item.json.hari }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        608,
        112
      ],
      "id": "a0230700-90b3-491a-9a50-e5f4724cde70",
      "name": "Cari Pengajian Surau1"
    },
    {
      "parameters": {
        "jsCode": "const message =  `***** Siaran Langsung *****\n\nTempat   :   `+$input.first().json.tempat+`\nPengajar :   `+$input.first().json.pengajar+`\nKitab       :   `+$input.first().json.kitab+`\nTarikh      :   `+$('Tarikh & Masa').first().json.tarikhMsia+`\nJadual Pengajian : Setiap hari `+$input.first().json.hari.charAt(0).toUpperCase() + $input.first().json.hari.slice(1).toLowerCase()+`\n\n#Kitab`+$input.first().json.kitab.replace(/\\s+/g, '').replace('-', '').replace('(Hadis)','')+`\n\n********************************************\n\nSebarang sumbangan kepada masjid boleh disalurkan pada akaun di bawah :\nBANK           :    BANK RAKYAT \nPENAMA      :    MASJID AL-HALIMI\nNO AKAUN  :    1101498276\n\n********************************************`;\n\nreturn [\n  {\n    json:{\n      message\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        112
      ],
      "id": "ed6bec2e-b821-4dec-aa14-9c9bc6ab1446",
      "name": "Message Surau1"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "shukrisenawi",
    "name": "n8n_backup"
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kuala_Lumpur",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "X3z9DFNcd6pygcaS",
    "timeSavedPerExecution": 1
  },
  "shared": [
    {
      "updatedAt": "2025-09-28T09:25:27.757Z",
      "createdAt": "2025-09-28T09:25:27.757Z",
      "role": "workflow:owner",
      "workflowId": "qijDbSeDRZTGEbLi",
      "projectId": "xIwyQZxho25VDDOK"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-10T05:59:27.000Z",
  "versionId": "cde11539-84e7-418d-9888-7390f341636a"
}