uWZXuSyCnZAN45zu.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-24T10:47:24.000Z",
    "createdAt": "2026-04-24T10:47:18.977Z",
    "versionId": "c7a43100-a77b-4b86-9cb9-a670fed5adbd",
    "workflowId": "uWZXuSyCnZAN45zu",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "3caf9b20-d664-491b-81db-57984d626341",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -416,
          -80
        ],
        "id": "be773e50-9118-4185-a181-56346f70a13b",
        "name": "Webhook",
        "webhookId": "3caf9b20-d664-491b-81db-57984d626341"
      },
      {
        "parameters": {
          "jsCode": "const input =$input.first().json.message;\n\n// Step 2: split ikut \\n\nlet lines = input.split(\"<br>\").map(x => x.trim()).filter(x => x !== \"\");\n\n// Return setiap baris jadi item berasingan\nreturn lines.map(line => ({ json: { line:line,group:$input.first().json.group } }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          224
        ],
        "id": "4591e417-6086-4c4c-976f-cd0a1e836fa1",
        "name": "Code2"
      },
      {
        "parameters": {
          "jsCode": "let groups = ['120363425874463975@g.us'];//group test\nif($input.first().json.body.group=='real')\n  groups = ['60134818841-1494722259@g.us'];//group mgp\n\nreturn groups.map(group => ({ json: { group,message:$input.first().json.message } }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          -96
        ],
        "id": "0fbc0e37-dd29-4cb5-96e7-656c59c665b9",
        "name": "All Groups"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1264,
          240
        ],
        "id": "11a1bc04-2b6b-4a63-9499-20f51d3dc7ad",
        "name": "Loop Over Items",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "f6f32dba-8dfa-4add-82ac-589eb029a66d",
                "leftValue": "={{ $json.message }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          224,
          -80
        ],
        "id": "af3ac3bb-0122-4825-9a4f-7dcf94cd06d4",
        "name": "If"
      },
      {
        "parameters": {
          "jsCode": "const raw = $('pecahkan mesej1').first().json.message;\n\n// cari url gambar\nconst imageMatch = raw.match(/https?:\\/\\/\\S+\\.(png|jpg|jpeg|webp|gif)/i);\nconst images = imageMatch ? imageMatch[0] : null;\n\n// buang url gambar dari text\nconst text = raw\n  .replace(/https?:\\/\\/\\S+\\.(png|jpg|jpeg|webp|gif)/ig, '')\n  .trim();\n\nreturn [\n  {\n    json: {\n      images,\n      text\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1024,
          -64
        ],
        "id": "a3548ee1-8257-4734-be91-d747b011be52",
        "name": "Ambil Gambar & text",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "ceb20b3a-bcf6-4a4d-8800-464b0cd133bc",
                "leftValue": "={{ $json.images[0] }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1088,
          144
        ],
        "id": "b67ab2d8-7c23-4e2a-8f7c-622a2f9f721b",
        "name": "If5"
      },
      {
        "parameters": {
          "resource": "Chatting",
          "operation": "Send Image",
          "session": "={{ $('config').item.json.sessionId }}",
          "chatId": "={{ $('pecahkan mesej1').item.json.group }}",
          "file": "={\n  \"mimetype\": \"image/jpeg\",\n  \"filename\": \"{{ new Date().toISOString() }}.jpg\",\n  \"url\": \"{{ $json.images }}\"\n}",
          "caption": "={{ $json.text }}",
          "requestOptions": {}
        },
        "type": "@devlikeapro/n8n-nodes-waha.WAHA",
        "typeVersion": 202502,
        "position": [
          1520,
          208
        ],
        "id": "445116cb-6483-4b11-9c17-e9882081e959",
        "name": "Send an image1",
        "credentials": {
          "wahaApi": {
            "id": "OSQWzQbmYRYYqgCf",
            "name": "WAHA account"
          }
        }
      },
      {
        "parameters": {
          "resource": "Chatting",
          "operation": "Stop Typing",
          "session": "={{ $('config').item.json.sessionId }}",
          "chatId": "={{ $('pecahkan mesej1').item.json.group }}",
          "requestOptions": {}
        },
        "type": "@devlikeapro/n8n-nodes-waha.WAHA",
        "typeVersion": 202502,
        "position": [
          1440,
          416
        ],
        "id": "3854e21e-aa31-44a3-8497-51fe33969650",
        "name": "Stop Typing1",
        "credentials": {
          "wahaApi": {
            "id": "OSQWzQbmYRYYqgCf",
            "name": "WAHA account"
          }
        }
      },
      {
        "parameters": {
          "resource": "Chatting",
          "operation": "Send Text",
          "session": "={{ $('config').item.json.sessionId }}",
          "chatId": "={{ $('pecahkan mesej1').item.json.group }}",
          "text": "={{ $('Ambil Gambar & text').item.json.text }}",
          "requestOptions": {}
        },
        "type": "@devlikeapro/n8n-nodes-waha.WAHA",
        "typeVersion": 202502,
        "position": [
          1600,
          416
        ],
        "id": "569fda38-ebf0-47a7-8854-b875eb961698",
        "name": "Send a text message1",
        "alwaysOutputData": true,
        "credentials": {
          "wahaApi": {
            "id": "OSQWzQbmYRYYqgCf",
            "name": "WAHA account"
          }
        }
      },
      {
        "parameters": {
          "amount": "={{ Math.floor(Math.random()*5,1) }}"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1072,
          416
        ],
        "id": "9244ffae-c840-41b3-863f-8a583904b4ed",
        "name": "Wait2",
        "webhookId": "3b24a82b-7471-433c-baa0-10bbe1fbacd9"
      },
      {
        "parameters": {
          "resource": "Chatting",
          "operation": "Start Typing",
          "session": "={{ $('config').item.json.sessionId }}",
          "chatId": "={{ $('pecahkan mesej1').item.json.group }}",
          "requestOptions": {}
        },
        "type": "@devlikeapro/n8n-nodes-waha.WAHA",
        "typeVersion": 202502,
        "position": [
          928,
          416
        ],
        "id": "978e8dad-5a84-41b9-8c58-aca169165835",
        "name": "Start Typing1",
        "credentials": {
          "wahaApi": {
            "id": "OSQWzQbmYRYYqgCf",
            "name": "WAHA account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          736,
          -80
        ],
        "id": "b53471c8-b05e-45b7-8f01-49d7362ae5c8",
        "name": "pecahkan mesej1",
        "alwaysOutputData": false,
        "executeOnce": false
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1376,
          144
        ],
        "id": "1378d958-111b-4ec0-ad36-a9af96806d09",
        "name": "Wait3",
        "webhookId": "044bb79c-e4f7-41a6-8378-9e747c6fda5c"
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n   item.json.message = ($input.first().json.body.gambar!=null?$input.first().json.body.gambar+`\n  `:\"\")+$input.first().json.body.text+`\n  `+$input.first().json.body.link;\n  item.json.sessionId = \"masjid_session\";\n  item.json.group = 'default';\n}\n\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -160,
          -80
        ],
        "id": "36faa10b-51d4-40f5-85e8-e3e5eabf4450",
        "name": "config"
      }
    ],
    "connections": {
      "Code2": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "All Groups": {
        "main": [
          [
            {
              "node": "pecahkan mesej1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Code2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "All Groups",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ambil Gambar & text": {
        "main": [
          [
            {
              "node": "If5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If5": {
        "main": [
          [
            {
              "node": "Wait3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Start Typing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send an image1": {
        "main": [
          [
            {
              "node": "pecahkan mesej1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Stop Typing1": {
        "main": [
          [
            {
              "node": "Send a text message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message1": {
        "main": [
          [
            {
              "node": "pecahkan mesej1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait2": {
        "main": [
          [
            {
              "node": "Stop Typing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start Typing1": {
        "main": [
          [
            {
              "node": "Wait2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pecahkan mesej1": {
        "main": [
          [],
          [
            {
              "node": "Ambil Gambar & text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait3": {
        "main": [
          [
            {
              "node": "Send an image1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "config": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Mohamad Shukri Senawi",
    "name": "Version c7a43100",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "c7a43100-a77b-4b86-9cb9-a670fed5adbd",
  "connections": {
    "Code2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Groups": {
      "main": [
        [
          {
            "node": "pecahkan mesej1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "All Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ambil Gambar & text": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start Typing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an image1": {
      "main": [
        [
          {
            "node": "pecahkan mesej1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Typing1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "pecahkan mesej1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Stop Typing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pecahkan mesej1": {
      "main": [
        [],
        [
          {
            "node": "Ambil Gambar & text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Send an image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-24T03:32:40.731Z",
  "id": "uWZXuSyCnZAN45zu",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Hantar Mesej Group Guru",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3caf9b20-d664-491b-81db-57984d626341",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        -80
      ],
      "id": "be773e50-9118-4185-a181-56346f70a13b",
      "name": "Webhook",
      "webhookId": "3caf9b20-d664-491b-81db-57984d626341"
    },
    {
      "parameters": {
        "jsCode": "const input =$input.first().json.message;\n\n// Step 2: split ikut \\n\nlet lines = input.split(\"<br>\").map(x => x.trim()).filter(x => x !== \"\");\n\n// Return setiap baris jadi item berasingan\nreturn lines.map(line => ({ json: { line:line,group:$input.first().json.group } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        224
      ],
      "id": "4591e417-6086-4c4c-976f-cd0a1e836fa1",
      "name": "Code2"
    },
    {
      "parameters": {
        "jsCode": "let groups = ['120363425874463975@g.us'];//group test\nif($input.first().json.body.group=='real')\n  groups = ['60134818841-1494722259@g.us'];//group mgp\n\nreturn groups.map(group => ({ json: { group,message:$input.first().json.message } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -96
      ],
      "id": "0fbc0e37-dd29-4cb5-96e7-656c59c665b9",
      "name": "All Groups"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1264,
        240
      ],
      "id": "11a1bc04-2b6b-4a63-9499-20f51d3dc7ad",
      "name": "Loop Over Items",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6f32dba-8dfa-4add-82ac-589eb029a66d",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        -80
      ],
      "id": "af3ac3bb-0122-4825-9a4f-7dcf94cd06d4",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const raw = $('pecahkan mesej1').first().json.message;\n\n// cari url gambar\nconst imageMatch = raw.match(/https?:\\/\\/\\S+\\.(png|jpg|jpeg|webp|gif)/i);\nconst images = imageMatch ? imageMatch[0] : null;\n\n// buang url gambar dari text\nconst text = raw\n  .replace(/https?:\\/\\/\\S+\\.(png|jpg|jpeg|webp|gif)/ig, '')\n  .trim();\n\nreturn [\n  {\n    json: {\n      images,\n      text\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -64
      ],
      "id": "a3548ee1-8257-4734-be91-d747b011be52",
      "name": "Ambil Gambar & text",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ceb20b3a-bcf6-4a4d-8800-464b0cd133bc",
              "leftValue": "={{ $json.images[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1088,
        144
      ],
      "id": "b67ab2d8-7c23-4e2a-8f7c-622a2f9f721b",
      "name": "If5"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Image",
        "session": "={{ $('config').item.json.sessionId }}",
        "chatId": "={{ $('pecahkan mesej1').item.json.group }}",
        "file": "={\n  \"mimetype\": \"image/jpeg\",\n  \"filename\": \"{{ new Date().toISOString() }}.jpg\",\n  \"url\": \"{{ $json.images }}\"\n}",
        "caption": "={{ $json.text }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1520,
        208
      ],
      "id": "445116cb-6483-4b11-9c17-e9882081e959",
      "name": "Send an image1",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Stop Typing",
        "session": "={{ $('config').item.json.sessionId }}",
        "chatId": "={{ $('pecahkan mesej1').item.json.group }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1440,
        416
      ],
      "id": "3854e21e-aa31-44a3-8497-51fe33969650",
      "name": "Stop Typing1",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('config').item.json.sessionId }}",
        "chatId": "={{ $('pecahkan mesej1').item.json.group }}",
        "text": "={{ $('Ambil Gambar & text').item.json.text }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1600,
        416
      ],
      "id": "569fda38-ebf0-47a7-8854-b875eb961698",
      "name": "Send a text message1",
      "alwaysOutputData": true,
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random()*5,1) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1072,
        416
      ],
      "id": "9244ffae-c840-41b3-863f-8a583904b4ed",
      "name": "Wait2",
      "webhookId": "3b24a82b-7471-433c-baa0-10bbe1fbacd9"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('config').item.json.sessionId }}",
        "chatId": "={{ $('pecahkan mesej1').item.json.group }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        928,
        416
      ],
      "id": "978e8dad-5a84-41b9-8c58-aca169165835",
      "name": "Start Typing1",
      "credentials": {
        "wahaApi": {
          "id": "OSQWzQbmYRYYqgCf",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        736,
        -80
      ],
      "id": "b53471c8-b05e-45b7-8f01-49d7362ae5c8",
      "name": "pecahkan mesej1",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1376,
        144
      ],
      "id": "1378d958-111b-4ec0-ad36-a9af96806d09",
      "name": "Wait3",
      "webhookId": "044bb79c-e4f7-41a6-8378-9e747c6fda5c"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n   item.json.message = ($input.first().json.body.gambar!=null?$input.first().json.body.gambar+`\n  `:\"\")+$input.first().json.body.text+`\n  `+$input.first().json.body.link;\n  item.json.sessionId = \"masjid_session\";\n  item.json.group = 'default';\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -80
      ],
      "id": "36faa10b-51d4-40f5-85e8-e3e5eabf4450",
      "name": "config"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "shukrisenawi",
    "name": "n8n_backup"
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kuala_Lumpur",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-03-24T03:32:40.735Z",
      "createdAt": "2026-03-24T03:32:40.735Z",
      "role": "workflow:owner",
      "workflowId": "uWZXuSyCnZAN45zu",
      "projectId": "xIwyQZxho25VDDOK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-24T10:47:18.975Z",
  "versionId": "c7a43100-a77b-4b86-9cb9-a670fed5adbd"
}