vqXwqvHQUsSG6OBN.json
{
  "active": false,
  "connections": {
    "Cari Gambar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Media": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-04T15:16:48.486Z",
  "id": "vqXwqvHQUsSG6OBN",
  "isArchived": false,
  "meta": null,
  "name": "FUNGSI /cari_gambar - Cari Gambar Di Google",
  "nodes": [
    {
      "parameters": {
        "toolDescription": "Cari Gambar",
        "url": "=https://www.googleapis.com/customsearch/v1?q={{ $fromAI('query') }}&cx=1097dd3ec83b44d93&searchType=image&key=AIzaSyCLPzWaJW0bcZpHiUomPnWI-nBEbBZDDDw",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        368,
        960
      ],
      "id": "d655113e-67aa-4ce5-b01b-b66d71a952c9",
      "name": "Cari Gambar"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        960
      ],
      "id": "1cb2ba96-85f8-44cd-992c-165bd4abf930",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qrIOqk9261OK3B5K",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n \"items\": [\n   {\n     \"title\": \"Kucing Comel\",\n     \"link\": \"https://example.com/gambar.jpg\",\n     \"image\": { \"thumbnailLink\": \"...\" }\n   }\n ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        496,
        960
      ],
      "id": "7f5764d3-e2dc-4ea9-b751-2cd1b8835999",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.id_telegram }}",
        "text": "Text carian tidak dimasukkan..",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        960
      ],
      "id": "2dc85875-e2e0-4bac-897d-d11d5f00cf1d",
      "name": "Send a text message",
      "webhookId": "1d73c499-c159-4bfb-a4b8-33569f2ced3d",
      "credentials": {
        "telegramApi": {
          "id": "6kuS0JQRPtO3uUtr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Start').item.json.id_telegram }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1088,
        768
      ],
      "id": "c140ef5d-ede9-4a97-b18a-97061ee2b01d",
      "name": "Send a photo message",
      "webhookId": "f83bd799-4a76-48d2-b5f5-175447ff92f0",
      "credentials": {
        "telegramApi": {
          "id": "6kuS0JQRPtO3uUtr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.output.items[0].link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        768
      ],
      "id": "e1398f65-742a-4cef-9389-acf6e7f91f51",
      "name": "Download Media"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d86b4534-dcb6-4f49-9351-7c210fbf7279",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        768
      ],
      "id": "554a30c9-d3a9-4139-8847-382ee3b46184",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Gunakan tool `Cari Gambar` fungsi untuk mencari gambar \"{{ $json.text }}\", cari gambar yang sesuai untuk design utamakan jenis vector, png dan saiz besar."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        240,
        752
      ],
      "id": "3da5f348-c431-4a9d-a990-7d409d709aff",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        688,
        752
      ],
      "id": "4cfa4346-a329-4f6f-ac57-a8d904b772b7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "id_telegram",
              "type": "any"
            },
            {
              "name": "text",
              "type": "any"
            }
          ]
        }
      },
      "id": "b30d62d6-2949-4697-b31d-a014963c4ec7",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -192,
        768
      ]
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "shukrisenawi",
    "name": "n8n_backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-04T15:16:48.489Z",
      "updatedAt": "2025-10-04T15:16:48.489Z",
      "role": "workflow:owner",
      "workflowId": "vqXwqvHQUsSG6OBN",
      "projectId": "xIwyQZxho25VDDOK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-04T15:18:32.000Z",
  "versionId": "f6ec035b-c20d-4fbd-8058-bb69a5903739"
}