Backup_2025-10-28/Whisk Generator.json
{
  "createdAt": "2025-10-01T14:15:54.174Z",
  "updatedAt": "2025-10-04T03:23:22.000Z",
  "id": "nxxOmQuwnDvkx7ST",
  "name": "Whisk Generator",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        832,
        -80
      ],
      "id": "7c615134-4326-478d-ac3f-e1acad51e7ec",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aisandbox-pa.googleapis.com/v1/whisk:generateImage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"clientContext\": {\n    \"workflowId\": \"8a0ca43d-1baf-46f0-ad9c-c2dce265f251\",\n    \"tool\": \"BACKBONE\",\n    \"sessionId\": \";1759330160220\"\n  },\n  \"imageModelSettings\": {\n    \"imageModel\": \"IMAGEN_3_5\",\n    \"aspectRatio\": \"IMAGE_ASPECT_RATIO_LANDSCAPE\"\n  },\n  \"seed\": 776321,\n  \"prompt\": \"{{ $json.prompts }}\",\n  \"mediaCategory\": \"MEDIA_CATEGORY_BOARD\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        -64
      ],
      "id": "cf631979-9643-4cbd-967a-d60424aa6e66",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "P8gMcHo8Ofvlcs2y",
          "name": "Header Auth account Whisk"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "imagePanels[0].generatedImages[0].encodedImage",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1184,
        -64
      ],
      "id": "52441f69-8f21-4a38-9e32-0c934e99c82f",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "uuid"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        1376,
        -64
      ],
      "id": "a85a40c5-9358-4231-8051-26092cb85830",
      "name": "Crypto"
    },
    {
      "parameters": {
        "name": "={{ $('Loop Over Items').item.json.from==\"google_sheet\"?$('Data').item.json.Name:$json.uuid}}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1XFq2OFF_sKtrCp6bruJBuqjTBHkgPcIt",
          "mode": "list",
          "cachedResultName": "Photo",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1XFq2OFF_sKtrCp6bruJBuqjTBHkgPcIt"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1520,
        -64
      ],
      "id": "3474063f-6104-4a35-8aaa-7b6cd91aa7fe",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C3mKdKMyyqUTo37x",
          "name": "Whisk"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1CT6ovQYnToTbn8BoXI6ZUfD8fIwtVCD6sw06AA56AHY",
          "mode": "list",
          "cachedResultName": "Whisk",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CT6ovQYnToTbn8BoXI6ZUfD8fIwtVCD6sw06AA56AHY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CT6ovQYnToTbn8BoXI6ZUfD8fIwtVCD6sw06AA56AHY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Done",
            "row_number": "={{ $('Data').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prompts",
              "displayName": "Prompts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1888,
        -144
      ],
      "id": "4574dce7-47a0-42fe-9ea8-373c26327037",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U0ZMoxWRU8t5JEF5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random()*10,1) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2048,
        -32
      ],
      "id": "500352f5-e074-4fb2-875e-75f81a9888e0",
      "name": "Wait",
      "webhookId": "4140f766-62a4-43f8-89aa-7101db2ab4d5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca332436-0354-4620-ad51-1f87353ee8d9",
              "name": "prompts",
              "value": "={{ $json.Prompts }}",
              "type": "string"
            },
            {
              "id": "37d63e24-f947-4955-9bd5-7be5333f8c4c",
              "name": "from",
              "value": "google_sheet",
              "type": "string"
            },
            {
              "id": "2de9db82-3ea3-4fb1-9523-79c832e764f2",
              "name": "id",
              "value": "={{ $('Var').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        -96
      ],
      "id": "fa3a182c-22cd-42cb-9c25-a883d9968a58",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "514b50fc-55bd-4a25-9407-785675f15794",
              "leftValue": "={{ $('Loop Over Items').item.json.from }}",
              "rightValue": "google_sheet",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1696,
        -64
      ],
      "id": "e9bc65ec-6d58-4de7-a75e-ce625d6dd684",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1CT6ovQYnToTbn8BoXI6ZUfD8fIwtVCD6sw06AA56AHY",
          "mode": "list",
          "cachedResultName": "Whisk",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CT6ovQYnToTbn8BoXI6ZUfD8fIwtVCD6sw06AA56AHY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CT6ovQYnToTbn8BoXI6ZUfD8fIwtVCD6sw06AA56AHY/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Process"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -288,
        -96
      ],
      "id": "ccc6129e-1abc-46d5-812c-4b0809460743",
      "name": "Data",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U0ZMoxWRU8t5JEF5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1024,
        -240
      ],
      "id": "4edad5ab-746b-4e56-b6e2-11941ec3dd08",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "chatId": "={{ $('Var').item.json.id }}",
        "text": "Tiada senarai prompts dijumpai.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -400,
        224
      ],
      "id": "68e97e01-7ccf-4ceb-a8c9-7edcf2d33261",
      "name": "Send a text message1",
      "webhookId": "f23afa61-5ce8-4532-b9d5-ef5c07229331",
      "credentials": {
        "telegramApi": {
          "id": "6kuS0JQRPtO3uUtr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ab3e5c20-1c62-494f-9af7-b666f2f502a7",
              "leftValue": "={{ $json.Prompts }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        -96
      ],
      "id": "329d0af4-7a8e-485e-a7a9-b6840d1e8f25",
      "name": "If2"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.id = '309812676';\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        -96
      ],
      "id": "20da4cc2-baec-455a-aaed-2a994cb94e9c",
      "name": "Var"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7acd260a-6958-42a4-92b1-d8aa74a580c0",
              "name": "prompts",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "7ee53b39-1d5a-4c5a-9e3a-d9f2c1ddef95",
              "name": "from",
              "value": "input",
              "type": "string"
            },
            {
              "id": "88340347-ec0d-43c0-8fb6-a79c734a86f9",
              "name": "id",
              "value": "={{ $json.message.from.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        224
      ],
      "id": "ae1249d5-0fe4-456a-a1f5-e1f3ae15c042",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "378d2da1-b6ce-463d-9cee-9fe89b8a3d64",
              "leftValue": "={{ $json.prompts }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        544,
        -64
      ],
      "id": "c0c9a901-7118-4f24-975f-35cbd513ad5f",
      "name": "If4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        -96
      ],
      "id": "a2ec31a7-3d63-4810-a3b9-334f293b1e7f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "formTitle": "Muat naik gambar",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Gambar",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -688,
        -288
      ],
      "id": "a6f6c02f-60b7-4afe-af43-ddd35afbac7c",
      "name": "On form submission",
      "webhookId": "12265484-ec14-4474-9b0e-143e09f76824"
    }
  ],
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Aggregate": {
      "main": [
        []
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Var": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Var",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7b9f915e-94b6-4fd2-9b18-8ba02169b582",
  "triggerCount": 2,
  "shared": [
    {
      "createdAt": "2025-10-01T14:15:54.177Z",
      "updatedAt": "2025-10-01T14:15:54.177Z",
      "role": "workflow:owner",
      "workflowId": "nxxOmQuwnDvkx7ST",
      "projectId": "xIwyQZxho25VDDOK"
    }
  ],
  "tags": []
}